{{ define "annuity_due_page" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Annuity Due</title>
    <link href="/public/css/home.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <main>
      {{ template "header" . }}
      <div class="button-style">
        <a href="/fin/annuitydue/interestrate" target="_self">
          <button class="button" disabled>Interest Rate</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/fin/annuitydue/pv" target="_self">
          <button class="button">Present Value</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/fin/annuitydue/fv" target="_self">
          <button class="button">Future Value</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/fin/annuitydue/cp" target="_self">
          <button class="button">Compounding Periods</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/fin/annuitydue/epp" target="_self">
          <button class="button">Equal Periodic Payments</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/fin/annuitydue/ga" target="_self">
          <button class="button" disabled>Growing Annuity</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/fin/annuitydue/perpetuity" target="_self">
          <button class="button" disabled>Perpetuities</button>
        </a>
      </div>
      <div class="button-back-style">
        <a href="/finances" target="_self">
          <button class="button">Back</button>
        </a>
      </div>
    </main>
    {{ template "footer" }}
  </body>
</html>

{{ end }}
