{{ define "finances_page" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Finances</title>
    <link href="/public/css/home.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <main>
      {{ template "header" . }}
      <div class="button-style">
        <a href="/fin/mortgage" target="_self">
          <button class="button">Mortgage</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/fin/ordinaryannuity" target="_self">
          <button class="button">Ordinary Annuity</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/fin/annuitydue" target="_self">
          <button class="button">Annuity Due</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/fin/bonds" target="_self">
          <button class="button">Bonds</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/fin/miscellaneous" target="_self">
          <button class="button">Miscellaneous</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/fin/simpleinterest" target="_self">
          <button class="button">Simple Interest</button>
        </a>
      </div>
      <div class="button-back-style">
        <a href="/welcome" target="_self">
          <button class="button">Back</button>
        </a>
      </div>
    </main>
    {{ template "footer" }}
  </body>
</html>

{{ end }}
