{{define "header"}}
<header>
  <div class="title">
    <b>{{.Header}}</b>
  </div>
  <div class="datetime">
    <b>{{.Datetime}}</b>
  </div>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/about">About Us</a></li>
  </ul>
</nav>
{{end}}

{{define "footer"}}
  <footer style="color:rgb(2, 71, 31);margin-top:auto">
    <h4>&copy 2023 xyz Company. All rights reserved.</h4>
    <p>Contact information: <a href="mailto:juancarlos@trimino.io">juancarlos@trimino.io</a>.</p>
  </footer>
{{end}}
