<!-- The define action for the home page -->
{{ define "index_page" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome to the App</title>
    <!-- <script>
      document.getElementById("un").focus();
      document.getElementById("un").select();
    </script> -->
    <link rel="stylesheet" type="text/css" href="/public/css/home.css"/>
  </head>
  <body>
    <main>
      <div>
        <h1 style="text-align: center;">Welcome to the App</h1>
      </div>
      <div class="button-style">
        <a href="/register" target="_self">
          <button class="button">Register</button>
        </a>
      </div>
      <div class="button-style">
        <a href="/login" target="_self">
          <button class="button">Login</button>
        </a>
      </div>
    </main>
  </body>
</html>

{{ end }}
