<!-- The define action for the home page -->
{{ define "index_page" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login for Finances</title>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css"/>
  </head>
  <body>
    <main>
      <h3>{{ .Error }}</h3>
      <h1>Login</h1>
      <form method="post" action="/login">
        <label>Username:</label>
        <input type="text" name="username"><br><br>
        <label>Password:</label>
        <input type="password" name="password"><br><br>
        <input type="submit" name="submit" value="Login">
      </form>
    </main>
  </body>
</html>

{{ end }}
