{{define "layout-simple"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Finances App</title>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css"/>
  </head>
  <body>
    <main>
      <!-- <div class="center-title">
        <h1>Login</h1>
      </div> -->
      <!-- This dynamically injects the unique content of whatever page you are on -->
      {{template "content" .}}
    </main>
  </body>
</html>

{{end}}
