{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Finances App</title>
    <!-- Always load the global layout variables first. -->
    <link type="text/css" href="/public/css/home.css" rel="stylesheet"/>
    <link type="text/css" href="/public/css/components/base-button.css" rel="stylesheet"/>
    <!-- Component files will inject their styles here. -->
    {{block "css-files" .}}{{end}}
  </head>
  <body>
    {{/*
    Comparison between {{template}} and {{block}}
    * {{template}} is a strict requirement. If the named template is not parsed or missing from your code execution, Go will crash your
      application at runtime.
    * {{block}} is a safe placeholder. It looks for the named template. If it finds it, it runs it. If it doesn't find it, it gracefully
      ignores it and falls back to a default value (or renders nothing).

    Use {{template}} exclusively for your "content" tag since every single page needs a main content body.
    */}}
    {{if eq .Data.LayoutType `standard`}}
      <main>
        <div class="center-title">
          <!-- The dot (.) that follows the name of the template to be included is the data passed into the template -->
          {{block "title" .}}{{end}}
        </div>
        <div class="center-datetime">
          {{block "datetime" .}}{{end}}
        </div>
        <div>
          {{block "navbar" .}}{{end}}
        </div>
        <!-- This dynamically injects the unique content of whatever page you are on -->
        {{template "content" .}}
      </main>
      {{block "footer" .}}{{end}}
    {{else if eq .Data.LayoutType `std-wo-nav-menu`}}  <!-- Standard without navagation menu -->
      <main>
        <div class="center-title">
          {{block "title" .}}{{end}}
        </div>
        <div class="center-datetime">
          {{block "datetime" .}}{{end}}
        </div>
        {{template "content" .}}
      </main>
      {{block "footer" .}}{{end}}
    {{else if eq .Data.LayoutType `std-wo-headers`}}  <!-- Standard without headers, footer & navagation menu -->
      <main>
        {{template "content" .}}
      </main>
    {{end}}
  </body>
</html>
{{end}}
