{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Finances App</title>
    <link href="/public/css/home.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    {{if eq .Data.LayoutType `standard`}}
      <main>
        <div class="center-title">
          <!-- The dot (.) that follows the name of the template to be included is the data passed into the template -->
          {{block "title" .}}{{end}}
        </div>
        <div class="center-datetime">
          {{block "datetime" .}}{{end}}
        </div>
        <div>
          {{block "navbar" .}}{{end}}
        </div>
        <!-- This dynamically injects the unique content of whatever page you are on -->
        {{template "content" .}}
      </main>
      {{block "footer" .}}{{end}}
    {{else if eq .Data.LayoutType `std-wo-nav-menu`}}  <!-- Standard without navagation menu -->
      <main>
        <div class="center-title">
          {{block "title" .}}{{end}}
        </div>
        <div class="center-datetime">
          {{block "datetime" .}}{{end}}
        </div>
        {{template "content" .}}
      </main>
      {{block "footer" .}}{{end}}
    {{else if eq .Data.LayoutType `std-wo-headers`}}  <!-- Standard without headers, footer & navagation menu -->
      <main>
        {{template "content" .}}
      </main>
    {{end}}
  </body>
</html>
{{end}}
