<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Miscellaneous</title>
    <script>
      function disableElements(eid) {
        if (eid === "lhs-button1") {
          document.getElementById("rhs-ui1").style.display = "block";
          document.getElementById("rhs-ui2").style.display = "none";
          document.getElementById("rhs-ui3").style.display = "none"
          document.getElementById("rhs-ui4").style.display = "none"
          document.getElementById("lhs-button1").disabled = true;
          document.getElementById("lhs-button2").disabled = false;
          document.getElementById("lhs-button3").disabled = false;
          document.getElementById("lhs-button4").disabled = false;
        } else if (eid === "lhs-button2") {
          document.getElementById("rhs-ui1").style.display = "none";
          document.getElementById("rhs-ui2").style.display = "block";
          document.getElementById("rhs-ui3").style.display = "none"
          document.getElementById("rhs-ui4").style.display = "none"
          document.getElementById("lhs-button1").disabled = false;
          document.getElementById("lhs-button2").disabled = true;
          document.getElementById("lhs-button3").disabled = false;
          document.getElementById("lhs-button4").disabled = false;
        } else if (eid === "lhs-button3") {
          document.getElementById("rhs-ui1").style.display = "none";
          document.getElementById("rhs-ui2").style.display = "none";
          document.getElementById("rhs-ui3").style.display = "block";
          document.getElementById("rhs-ui4").style.display = "none";
          document.getElementById("lhs-button1").disabled = false;
          document.getElementById("lhs-button2").disabled = false;
          document.getElementById("lhs-button3").disabled = true;
          document.getElementById("lhs-button4").disabled = false;
        } else if (eid === "lhs-button4") {
          document.getElementById("rhs-ui1").style.display = "none";
          document.getElementById("rhs-ui2").style.display = "none";
          document.getElementById("rhs-ui3").style.display = "none";
          document.getElementById("rhs-ui4").style.display = "block";
          document.getElementById("lhs-button1").disabled = false;
          document.getElementById("lhs-button2").disabled = false;
          document.getElementById("lhs-button3").disabled = false;
          document.getElementById("lhs-button4").disabled = true;
        }
      }

      document.addEventListener('DOMContentLoaded', (event) => {
        disableElements('{{.CurrentButton}}')});
    </script>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css"/>
  </head>
  <body>
    <div>
      {{template "header" .}}
    </div>
    <div class="split-screen">
      <div class="left-side">
        <div class="div-center" style="margin-top: 20px">
          <button class="button" onclick="disableElements('lhs-button1')" id="lhs-button1">
            Nominal Rate to Effective Annual Rate
          </button>
        </div>
        <div class="div-center">
          <button class="button" onclick="disableElements('lhs-button2')" id="lhs-button2">
            Effective Annual Rate to Nominal Rate
          </button>
        </div>
        <div class="div-center">
          <button class="button" onclick="disableElements('lhs-button3')" id="lhs-button3">
            Nominal Rate vs. Real Interest Rate
          </button>
        </div>
        <div class="div-center">
          <button class="button" onclick="disableElements('lhs-button4')" id="lhs-button4">
            Growth/Decay of Funds
          </button>
        </div>
        <div class="div-center">
          <a href="/finances" target="_self">
            <button class="button">Back</button>
          </a>
        </div>
      </div>
      <!---->
      <div class="right-side">
        <!-- rhs-ui1 -->
        <div id="rhs-ui1">
          <form action="/fin/miscellaneous" method="POST">
            <div style="margin-top: 20px">
              <label class="text-box" for="fd1-nominal">Nominal Rate (%)........</label>
              <input class="text-combo" id="fd1-nominal" name="fd1-nominal" value="{{.Fd1Nominal}}" type="number" step="any" maxlength="7" required/>
            </div>
            <div style="margin-top: 20px;">
              <label class="text-box" for="fd1-compound">Compounding Period...</label>
              <select class="text-combo" id="fd1-compound" name="fd1-compound">
                <option class="text-combo" value="annually" {{if eq .Fd1Compound "annually"}} selected {{end}}>Annually</option>
                <option class="text-combo" value="semiannually" {{if eq .Fd1Compound "semiannually"}} selected {{end}}>Semiannually</option>
                <option class="text-combo" value="quarterly" {{if eq .Fd1Compound "quarterly"}} selected {{end}}>Quarterly</option>
                <option class="text-combo" value="monthly" {{if eq .Fd1Compound "monthly"}} selected {{end}}>Monthly</option>
                <option class="text-combo" value="weekly" {{if eq .Fd1Compound "weekly"}} selected {{end}}>Weekly</option>
                <option class="text-combo" value="daily" {{if eq .Fd1Compound "daily"}} selected {{end}}>Daily</option>
                <option class="text-combo" value="continuously" {{if eq .Fd1Compound "continuously"}} selected {{end}}>Continuously</option>
              </select>
            </div>
            <div class="div-center" style="margin-top: 45px;">
              <button class="button" id="btcompute" value="rhs-ui1" name="compute" type="submit">
                Compute
              </button>
            </div>
          </form>
          <div>
            <p class="p-note">{{index .Fd1Result 0}}</p>
            <p class="p-result">{{index .Fd1Result 1}}</p>
          </div>
        </div>
        <!-- rhs-ui2 -->
        <div id="rhs-ui2">
          <form action="/fin/miscellaneous" method="POST">
            <div style="margin-top: 20px">
              <label class="text-box" for="fd2-effective">Effective Annual Rate (%)...</label>
              <input class="text-combo" id="fd2-effective" name="fd2-effective" value="{{.Fd2Effective}}" type="number" step="any" maxlength="7" required/>
            </div>
            <div style="margin-top: 20px;">
              <label class="text-box" for="fd2-compound">Compounding Period............</label>
              <select class="text-combo" id="fd2-compound" name="fd2-compound">
                <option class="text-combo" value="annually" {{if eq .Fd2Compound "annually"}} selected {{end}}>Annually</option>
                <option class="text-combo" value="semiannually" {{if eq .Fd2Compound "semiannually"}} selected {{end}}>Semiannually</option>
                <option class="text-combo" value="quarterly" {{if eq .Fd2Compound "quarterly"}} selected {{end}}>Quarterly</option>
                <option class="text-combo" value="monthly" {{if eq .Fd2Compound "monthly"}} selected {{end}}>Monthly</option>
                <option class="text-combo" value="weekly" {{if eq .Fd2Compound "weekly"}} selected {{end}}>Weekly</option>
                <option class="text-combo" value="daily" {{if eq .Fd2Compound "daily"}} selected {{end}}>Daily</option>
                <option class="text-combo" value="continuously" {{if eq .Fd2Compound "continuously"}} selected {{end}}>Continuously</option>
              </select>
            </div>
            <div class="div-center" style="margin-top: 45px;">
              <button class="button" id="btcompute" name="compute" value="rhs-ui2" type="submit">Compute</button>
            </div>
          </form>
          <div>
            <p class="p-note">{{index .Fd2Result 0}}</p>
            <p class="p-result">{{index .Fd2Result 1}}</p>
          </div>
        </div>
        <!-- rhs-ui3 -->
        <div id="rhs-ui3">
          <form action="/fin/miscellaneous" method="POST">
            <!-- margin: top, right, bottom, left -->
            <div style="margin-top: 20px">
              <label class="text-box" for="fd3-nominal">Nominal Rate (%)...</label>
              <input class="text-combo" id="fd3-nominal" name="fd3-nominal" value="{{.Fd3Nominal}}" type="number" step="any" maxlength="7" required/>
            </div>
            <div>
              <p class="p-note">{{index .Fd3Result 0}}</p>
            </div>
            <div style="margin-top: 20px">
              <label class="text-box" for="fd3-inflation">Inflation Rate (%)...</label>
              <input class="text-combo" id="fd3-inflation" name="fd3-inflation" value="{{.Fd3Inflation}}" type="number" step="any" maxlength="7" required/>
            </div>
            <div class="div-center" style="margin-top: 45px;">
              <button class="button" id="btcompute" name="compute" value="rhs-ui3" type="submit">Compute</button>
            </div>
          </form>
          <div>
            <p class="p-note">{{index .Fd3Result 1}}</p>
            <p class="p-result">{{index .Fd3Result 3}}</p>
            <p class="p-note">{{index .Fd3Result 2}}</p>
          </div>
        </div>
        <!-- rhs-ui4 -->
        <div id="rhs-ui4">
          <form action="/fin/miscellaneous" method="POST">
            <div style="margin-top: 20px">
              <label class="text-box" for="fd4-interest">Interest (%)...................</label>
              <input class="text-combo" id="fd4-interest" name="fd4-interest" value="{{.Fd4Interest}}" type="number" step="any" maxlength="7" required/>
            </div>
            <div style="margin-top: 20px;">
              <label class="text-box" for="fd4-compound">Compounding Period...</label>
              <select class="text-combo" id="fd4-compound" name="fd4-compound">
                <option class="text-combo" value="annually" {{if eq .Fd4Compound "annually"}} selected {{end}}>Annually</option>
                <option class="text-combo" value="semiannually" {{if eq .Fd4Compound "semiannually"}} selected {{end}}>Semiannually</option>
                <option class="text-combo" value="quarterly" {{if eq .Fd4Compound "quarterly"}} selected {{end}}>Quarterly</option>
                <option class="text-combo" value="monthly" {{if eq .Fd4Compound "monthly"}} selected {{end}}>Monthly</option>
                <option class="text-combo" value="weekly" {{if eq .Fd4Compound "weekly"}} selected {{end}}>Weekly</option>
                <option class="text-combo" value="daily" {{if eq .Fd4Compound "daily"}} selected {{end}}>Daily</option>
                <option class="text-combo" value="continuously" {{if eq .Fd4Compound "continuously"}} selected {{end}}>Continuously</option>
              </select>
            </div>
            <div style="margin-top: 20px">
              <label class="text-box" for="fd4-factor">Factor.............................</label>
              <input class="text-combo" id="fd4-factor" name="fd4-factor" value="{{.Fd4Factor}}" type="number" step="any" maxlength="7" required/>
            </div>
            <div class="div-center" style="margin-top: 45px;">
              <button class="button" id="btcompute" name="compute" value="rhs-ui4" type="submit">Compute</button>
            </div>
          </form>
          <div>
            <p class="p-result">{{.Fd4Result}}</p>
          </div>
        </div>
      </div>
    </div>
    {{template "footer"}}
  </body>
</html>
