<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Miscellaneous</title>
    <script>
      function disableElements(eid) {
        if (eid === "btnominal") {
          document.getElementById("uinominal").style.display = "block";
          document.getElementById("uieffective").style.display = "none";
          // document.getElementById("uinominalrate").style.display = "none"
          document.getElementById("btnominal").disabled = true;
          document.getElementById("bteffective").disabled = false;
          document.getElementById("btnominalrate").disabled = false;
        } else if (eid === "bteffective") {
          document.getElementById("uinominal").style.display = "none";
          document.getElementById("uieffective").style.display = "block";
          // document.getElementById("uinominalrate").style.display = "none"
          document.getElementById("btnominal").disabled = false;
          document.getElementById("bteffective").disabled = true;
          document.getElementById("btnominalrate").disabled = false;
        } else if (eid === "btnominalrate") {
          document.getElementById("uinominal").style.display = "none";
          document.getElementById("uieffective").style.display = "none";
          document.getElementById("uinominalrate").style.display = "block";
          document.getElementById("btnominal").disabled = false;
          document.getElementById("bteffective").disabled = false;
          document.getElementById("btnominalrate").disabled = true;
        }
      }
    </script>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css"/>
  </head>
  <body>
    <div>
      {{template "header" .}}
    </div>
    <div class="split-screen">
      <div class="left-side">
        <div class="div-center" style="margin-top: 20px">
          <button class="button" onclick="disableElements('btnominal')" id="btnominal">
            Nominal Rate to Effective Annual Rate
          </button>
        </div>
        <!-- </form> -->
        <div class="div-center">
          <button class="button" onclick="disableElements('bteffective')" id="bteffective">
            Effective Annual Rate to Nominal Rate
          </button>
        </div>
        <div class="div-center">
          <button class="button" onclick="disableElements('btnominalrate')" id="btnominalrate">
            Nominal Rate vs. Real Interest Rate
          </button>
        </div>
        <div class="div-center">
          <a href="/finances" target="_self">
            <button class="button">Back</button>
          </a>
        </div>
      </div>
      <!---->
      <div class="right-side">
        <!-- uinominal -->
        <div id="uinominal" style="display: none">
          <form action="/fin/miscellaneous" method="POST">
            <div style="margin-top: 20px">
              <label class="text-box" for="tbnominal">Nominal Rate (%)........</label>
              <input class="text-combo" name="nominal" type="number" id="tbnominal" value="{{.NominalRate1}}" step="any" maxlength="7"/>
            </div>
            <div style="margin-top: 20px;">
              <label class="text-box" for="cp">Compounding Period...</label>
              <select class="text-combo" name="cp" id="cp" value="daily">
                {{$selection := .CompoundPeriod1}}
                <option class="text-combo" value="annually" {{if eq $selection "annually"}} selected {{end}}>Annually</option>
                <option class="text-combo" value="semiannually" {{if eq $selection "semiannually"}} selected {{end}}>Semiannually</option>
                <option class="text-combo" value="quarterly" {{if eq $selection "quarterly"}} selected {{end}}>Quarterly</option>
                <option class="text-combo" value="monthly" {{if eq $selection "monthly"}} selected {{end}}>Monthly</option>
                <option class="text-combo" value="weekly" {{if eq $selection "weekly"}} selected {{end}}>Weekly</option>
                <option class="text-combo" value="daily" {{if eq $selection "daily"}} selected {{end}}>Daily</option>
                <option class="text-combo" value="continuously" {{if eq $selection "continuously"}} selected {{end}}>Continuously</option>
              </select>
            </div>
            <div class="div-center" style="margin-top: 45px;">
              <button class="button" type="submit" id="btcompute" value="uinominal" name="compute">
                Compute
              </button>
            </div>
          </form>
          {{if .Result1}}
            <p class="font-color">{{.Answer1}}</p>
          {{end}}
        </div>
        <!-- uieffective -->
        <div id="uieffective" style="display: none">
          <form action="/fin/miscellaneous" method="POST">
            <div style="margin-top: 20px">
              <label class="text-box" for="tbeffective">Effective Annual Rate (%)...</label>
              <input class="text-combo" name="effective" type="number" id="tbeffective" value="{{.EffectiveRate2}}" step="any" maxlength="7"/>
            </div>
            <div style="margin-top: 20px;">
              <label class="text-box" for="cp">Compounding Period............</label>
              <select class="text-combo" name="cp" id="cp" value="daily">
                {{$selection := .CompoundPeriod2}}
                <option class="text-combo" value="annually" {{if eq $selection "annually"}} selected {{end}}>Annually</option>
                <option class="text-combo" value="semiannually" {{if eq $selection "semiannually"}} selected {{end}}>Semiannually</option>
                <option class="text-combo" value="quarterly" {{if eq $selection "quarterly"}} selected {{end}}>Quarterly</option>
                <option class="text-combo" value="monthly" {{if eq $selection "monthly"}} selected {{end}}>Monthly</option>
                <option class="text-combo" value="weekly" {{if eq $selection "weekly"}} selected {{end}}>Weekly</option>
                <option class="text-combo" value="daily" {{if eq $selection "daily"}} selected {{end}}>Daily</option>
                <option class="text-combo" value="continuously" {{if eq $selection "continuously"}} selected {{end}}>Continuously</option>
              </select>
            </div>
            <div class="div-center" style="margin-top: 45px;">
              <button class="button" type="submit" id="btcompute" value="uieffective" name="compute">Compute</button>
            </div>
          </form>
          {{if .Result2}}
            <p class="font-color">{{.Answer2}}</p>
          {{end}}
        </div>
      </div>
    </div>
    {{template "footer"}}
  </body>
</html>
