<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Simple Interest</title>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css"/>
  </head>
  <body>
    <div>
      {{template "header" .}}
    </div>
    <div class="split-screen">
      <div class="left-side">
        <div class="div-center">
          <a href="/fin/simpleinterestx" target="_blank">
            <button class="button">Amount of Interest</button>
          </a>
        </div>
        <div class="div-center">
          <a href="/fin/simpleinterestx" target="_blank">
            <button class="button">Interest Rate</button>
          </a>
        </div>
        <div class="div-center">
          <a href="/fin/simpleinterestx" target="_blank">
            <button class="button">Principal</button>
          </a>
        </div>
        <div class="div-center">
          <a href="/fin/simpleinterestx" target="_blank">
            <button class="button">Time</button>
          </a>
        </div>
        <div class="div-center">
          <a href="/fin/simpleinterest" target="_blank">
              <button class="button">Back</button>
          </a>
        </div>
      </div>
      <div class="right-side">
        <div class="div-center">
          <a href="/fin/simpleinterest" target="_blank">
            <button class="button">Backright</button>
          </a>
        </div>
      </div>
    </div>
    {{template "footer"}}
  </body>
</html>
