<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Simple Interest</title>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css"/>
  </head>
  <body>
    <div>
      {{template "header" .}}
    </div>
    <div class="split-screen">
      {{if .Done}}
      <div class="left-side">
        <div class="div-center" style="margin-top: 20px">
          <a href="/fin/simpleinterestx" target="_blank">
            <button class="button">Amount of Interest</button>
          </a>
        </div>
        <div class="div-center">
          <a href="/fin/simpleinterestx" target="_blank">
            <button class="button">Interest Rate</button>
          </a>
        </div>
        <div class="div-center">
          <a href="/fin/simpleinterestx" target="_blank">
            <button class="button">Principal</button>
          </a>
        </div>
        <div class="div-center">
          <a href="/fin/simpleinterestx" target="_blank">
            <button class="button">Time</button>
          </a>
        </div>
        <div class="div-center">
          <a href="/fin/simpleinterest" target="_blank">
              <button class="button">Back</button>
          </a>
        </div>
      </div>
      {{end}}
      <!---->
      <div class="right-side">
        {{if .Done}}
        <form action="/fin/simpleinterest/ordinarycompute" method="POST">
          <div style="margin-top: 20px">
            <label class="text-box" for="tbtime">Time (n)....................</label>
            <input class="text-combo" name="n" type="number" id="tbtime" value="30" maxlength="7"/>
          </div>
          <div style="margin-top: 20px">
            <label class="text-box" for="tp">Time Period..............</label>
            <select class="text-combo" name="tp" id="tp">
              <option class="text-combo" value="year">Year(s)</option>
              <option class="text-combo" value="semiyear">Semiyear(s)</option>
              <option class="text-combo" value="quarter">Quarter(s)</option>
              <option class="text-combo" value="month">Month(s)</option>
              <option class="text-combo" value="week">Week(s)</option>
              <option class="text-combo" value="day">Day(s)</option>
            </select>
          </div>
          <div style="margin-top: 20px;">
            <label class="text-box" for="tbinterest">Interest (i %)............</label>
            <input class="text-combo" name="i" type="number" id="tbinterest" value="3.5" maxlength="7"/>
          </div>
          <div style="margin-top: 20px;">
            <label class="text-box" for="cp">Time Period..............</label>
            <select class="text-combo" name="cp" id="cp" value="daily">
              <option class="text-combo" value="annual">Annually</option>
              <option class="text-combo" value="semiannual">Semiannually</option>
              <option class="text-combo" value="quarterly">Quarterly</option>
              <option class="text-combo" value="monthly">Monthly</option>
              <option class="text-combo" value="weekly">Weekly</option>
              <option class="text-combo" value="daily" selected>Daily</option>
              <option class="text-combo" value="continuously">Continuously</option>
            </select>
          </div>
          <div style="margin-top: 20px;">
            <label class="text-box" for="tbpv">Present Value (PV)...</label>
            <input class="text-combo" name="pv" type="number" id="tbpv" value="1000.00" maxlength="7"/>
          </div>
          <div class="div-center" style="margin-top: 45px;">
            <input class="button" type="submit" id="btcompute" value="Compute"/>
          </div>
        </form>
        {{else}}
        <div>
          <p>{{.Result}}</p>
        </div>
        {{end}}
      </div>
    </div>
    {{template "footer"}}
  </body>
</html>
