<!-- The define action for the home page -->
{{define "content"}}
<div class="button-style">
  <a href="/banking" target="_self" tabindex="-1">
    <button class="button">Banking</button>
  </a>
</div>
<div class="button-style">
  <a href="/securities" target="_self" tabindex="-1">
    <button class="button" disabled>Securities</button>
  </a>
</div>
<div class="button-style">
  <a href="/finances" target="_self" tabindex="-1">
    <button class="button">Finances</button>
  </a>
</div>
<br>
<div class="button-back-style">
  <a href="/logout" target="_self" tabindex="-1">
    <button class="button">Logout</button>
  </a>
</div>
<script type="text/javascript" src="/public/js/tabFullPage.js" id="tab-full-page"></script>
{{end}}
