{{ define "bonds-layout" }}

<!-- rhs-ui2 -->
<div id="rhs-ui2">
  <form action="/fin/bonds" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}"/>
    <div class="cnt-grid">
      <label class="cnt-textbox" for="fd2-facevalue">Face Value</label>
      <input type="number" class="cnt-textcombo" id="fd2-facevalue" name="fd2-facevalue" value="{{ .Fd2FaceValue }}"
        inputmode="numeric" step="any" maxlength="7" required/>
      <label class="cnt-textbox" for="fd2-time">Time</label>
      <input type="number" class="cnt-textcombo" id="fd2-time" name="fd2-time" value="{{ .Fd2Time }}"
        inputmode="numeric" step="any" maxlength="7" required/>
      <label class="cnt-textbox" for="fd2-tp">Time Period</label>
      <select class="cnt-select" name="fd2-tp" id="fd2-tp">
        <option value="year" {{ if eq .Fd2TimePeriod "year" }} selected {{ end }}>Year(s)</option>
        <option value="semiyear" {{ if eq .Fd2TimePeriod "semiyear" }} selected {{ end }}>Semiyear(s)</option>
        <option value="quarter" {{ if eq .Fd2TimePeriod "quarter" }} selected {{ end }}>Quarter(s)</option>
        <option value="month" {{ if eq .Fd2TimePeriod "month" }} selected {{ end }}>Month(s)</option>
        <option value="week" {{ if eq .Fd2TimePeriod "week" }} selected {{ end }}>Week(s)</option>
        <option value="day" {{ if eq .Fd2TimePeriod "day" }} selected {{ end }}>Day(s)</option>
      </select>
      <label class="cnt-textbox" for="fd2-coupon">Coupon Rate (%)</label>
      <input type="number" class="cnt-textcombo" id="fd2-coupon" name="fd2-coupon" value="{{ .Fd2Coupon }}"
        inputmode="numeric" step="0.5" maxlength="7" required/>
      <label class="cnt-textbox" for="fd2-compound-coupon">Compounding Period</label>
      <select class="cnt-select" id="fd2-compound-coupon" name="fd2-compound-coupon">
        <option value="annually" {{ if eq .Fd2CompoundCoupon "annually" }} selected {{ end }}>Annually</option>
        <option value="semiannually" {{ if eq .Fd2CompoundCoupon "semiannually" }} selected {{ end }}>Semiannually</option>
        <option value="quarterly" {{ if eq .Fd2CompoundCoupon "quarterly" }} selected {{ end }}>Quarterly</option>
        <option value="monthly" {{ if eq .Fd2CompoundCoupon "monthly" }} selected {{ end }}>Monthly</option>
        <option value="weekly" {{ if eq .Fd2CompoundCoupon "weekly" }} selected {{ end }}>Weekly</option>
        <option value="daily" {{ if eq .Fd2CompoundCoupon "daily" }} selected {{ end }}>Daily</option>
        <!-- <option value="continuously" {{ if eq .Fd2CompoundCoupon "continuously" }} selected {{ end }}>Continuously</option> -->
      </select>
      <label class="cnt-textbox" for="fd2-current">Current Interest (%)</label>
      <input type="number" class="cnt-textcombo" id="fd2-current" name="fd2-current" value="{{ .Fd2Current }}"
        inputmode="numeric" step="0.5" maxlength="7" required/>
      <label class="cnt-textbox" for="fd2-compound">Compounding Period</label>
      <select class="cnt-select" id="fd2-compound" name="fd2-compound">
        <option value="annually" {{ if eq .Fd2Compound "annually" }} selected {{ end }}>Annually</option>
        <option value="semiannually" {{ if eq .Fd2Compound "semiannually" }} selected {{ end }}>Semiannually</option>
        <option value="quarterly" {{ if eq .Fd2Compound "quarterly" }} selected {{ end }}>Quarterly</option>
        <option value="monthly" {{ if eq .Fd2Compound "monthly" }} selected {{ end }}>Monthly</option>
        <option value="weekly" {{ if eq .Fd2Compound "weekly" }} selected {{ end }}>Weekly</option>
        <option value="daily" {{ if eq .Fd2Compound "daily" }} selected {{ end }}>Daily</option>
        <option value="continuously" {{ if eq .Fd2Compound "continuously" }} selected {{ end }}>Continuously</option>
      </select>
    </div>
    <div class="button-back-style">
      <button class="button" id="btcompute" name="compute" value="rhs-ui2" type="submit">
        Compute
      </button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-result">{{ .Fd2Result }}</p>
  </div>
</div>

{{ end }}
