{{define "bonds-layout"}}
<!-- rhs-ui6 -->
<div id="rhs-ui6">
  <form action="/fin/bonds" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="csrf_token" value="{{.Data.CsrfToken}}"/>
    <div class="cnt-grid">
      <label for="fd6-facevalue">Face Value</label>
      <input type="number" id="fd6-facevalue" name="fd6-facevalue" value="{{.Data.Fd6FaceValue}}" inputmode="decimal" step="any" max="9999999" required/>
      <label for="fd6-time">Time</label>
      <input type="number" id="fd6-time" name="fd6-time" value="{{.Data.Fd6Time}}" inputmode="decimal" step="any" max="9999999" required/>
      <label for="fd6-tp">Time Period</label>
      <select class="cnt-select" name="fd6-tp" id="fd6-tp">
        <option value="year" {{if eq .Data.Fd6TimePeriod "year"}} selected {{end}}>Year(s)</option>
        <option value="semiyear" {{if eq .Data.Fd6TimePeriod "semiyear"}} selected {{end}}>Semiyear(s)</option>
        <option value="quarter" {{if eq .Data.Fd6TimePeriod "quarter"}} selected {{end}}>Quarter(s)</option>
        <option value="month" {{if eq .Data.Fd6TimePeriod "month"}} selected {{end}}>Month(s)</option>
        <option value="week" {{if eq .Data.Fd6TimePeriod "week"}} selected {{end}}>Week(s)</option>
      </select>
      <label for="fd6-coupon">Coupon Rate (%)</label>
      <input type="number" id="fd6-coupon" name="fd6-coupon" value="{{.Data.Fd6Coupon}}" inputmode="decimal" step="any" max="9999999" required/>
      <label for="fd6-compound-coupon">Compounding Period</label>
      <select class="cnt-select" id="fd6-compound-coupon" name="fd6-compound-coupon">
        <option value="annually" {{if eq .Data.Fd6CompoundCoupon "annually"}} selected {{end}}>Annually</option>
        <option value="semiannually" {{if eq .Data.Fd6CompoundCoupon "semiannually"}} selected {{end}}>Semiannually</option>
        <option value="quarterly" {{if eq .Data.Fd6CompoundCoupon "quarterly"}} selected {{end}}>Quarterly</option>
        <option value="monthly" {{if eq .Data.Fd6CompoundCoupon "monthly"}} selected {{end}}>Monthly</option>
        <option value="weekly" {{if eq .Data.Fd6CompoundCoupon "weekly"}} selected {{end}}>Weekly</option>
        <!-- <option value="continuously" {{if eq .Data.Fd6CompoundCoupon "continuously"}} selected {{end}}>Continuously</option> -->
      </select>
      <label for="fd6-current">Current Interest (%)</label>
      <input type="number" id="fd6-current" name="fd6-current" value="{{.Data.Fd6CurInterest}}" inputmode="decimal" step="any" max="9999999" required/>
      <label>Compounding Period or</label><br>
      <label for="fd6-compound">Coupon Payment Frequency</label>
      <select class="cnt-select" id="fd6-compound" name="fd6-compound">
        <option value="annually" {{if eq .Data.Fd6Compound "annually"}} selected {{end}}>Annually</option>
        <option value="semiannually" {{if eq .Data.Fd6Compound "semiannually"}} selected {{end}}>Semiannually</option>
        <option value="quarterly" {{if eq .Data.Fd6Compound "quarterly"}} selected {{end}}>Quarterly</option>
        <option value="monthly" {{if eq .Data.Fd6Compound "monthly"}} selected {{end}}>Monthly</option>
        <option value="weekly" {{if eq .Data.Fd6Compound "weekly"}} selected {{end}}>Weekly</option>
        <option value="continuously" {{if eq .Data.Fd6Compound "continuously"}} selected {{end}}>Continuously</option>
      </select>
    </div>
    <div class="button-back-style">
      <button class="button" id="btcompute" name="compute" value="rhs-ui6" type="submit">Compute</button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-note">{{index .Data.Fd6Result 0}}</p>
    <p class="p-result">{{index .Data.Fd6Result 1}}</p>
  </div>
</div>
{{end}}
