{{define "bonds-layout"}}
<!-- rhs-ui4 -->
<div id="rhs-ui4">
  <form action="/fin/bonds" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="csrf_token" value="{{.Data.CsrfToken}}"/>
    <!-- margin: top, right, bottom, left -->
    <div class="cnt-grid">
      <label for="fd4-facevalue">Face Value</label>
      <input type="number" id="fd4-facevalue" name="fd4-facevalue" value="{{.Data.Fd4FaceValue}}" inputmode="decimal" step="any" max="9999999" required/>
      <label for="fd4-time">Time (n)</label>
      <input type="number" id="fd4-time" name="fd4-time" value="{{.Data.Fd4Time}}" inputmode="decimal" step="any" max="9999999" required/>
      <label for="fd4-tp">Time Period</label>
      <select class="cnt-select" name="fd4-tp" id="fd4-tp">
        <option value="year" {{if eq .Data.Fd4TimePeriod "year"}} selected {{end}}>Year(s)</option>
        <option value="semiyear" {{if eq .Data.Fd4TimePeriod "semiyear"}} selected {{end}}>Semiyear(s)</option>
        <option value="quarter" {{if eq .Data.Fd4TimePeriod "quarter"}} selected {{end}}>Quarter(s)</option>
        <option value="month" {{if eq .Data.Fd4TimePeriod "month"}} selected {{end}}>Month(s)</option>
        <option value="week" {{if eq .Data.Fd4TimePeriod "week"}} selected {{end}}>Week(s)</option>
        <option value="day" {{if eq .Data.Fd4TimePeriod "day"}} selected {{end}}>Day(s)</option>
      </select>
      <label for="fd4-coupon">Coupon Rate (%)</label>
      <input type="number" id="fd4-coupon" name="fd4-coupon" value="{{.Data.Fd4Coupon}}" inputmode="decimal" step="any" max="9999999" required/>
      <label for="fd4-compound">Compounding Period</label>
      <select class="cnt-select" id="fd4-compound" name="fd4-compound">
        <option value="annually" {{if eq .Data.Fd4Compound "annually"}} selected {{end}}>Annually</option>
        <option value="semiannually" {{if eq .Data.Fd4Compound "semiannually"}} selected {{end}}>Semiannually</option>
        <option value="quarterly" {{if eq .Data.Fd4Compound "quarterly"}} selected {{end}}>Quarterly</option>
        <option value="monthly" {{if eq .Data.Fd4Compound "monthly"}} selected {{end}}>Monthly</option>
        <option value="weekly" {{if eq .Data.Fd4Compound "weekly"}} selected {{end}}>Weekly</option>
        <option value="daily" {{if eq .Data.Fd4Compound "daily"}} selected {{end}}>Daily</option>
        <option value="continuously" {{if eq .Data.Fd4Compound "continuously"}} selected {{end}}>Continuously</option>
      </select>
    </div>
    <div>
      <fieldset class="radio-fieldset">
        <legend class="radio-legend">Select Appropriate Choice</legend>
        <div>
          <input type="radio" id="fd4-curinterest" name="fd4-choice" value="fd4-curinterest" {{if eq .Data.Fd4CurrentRadio "fd4-curinterest"}} checked {{end}}>
          <label class="radio-label" for="fd4-curinterest">Current Interest (%)</label><br>
          <label class="cnt-textbox" for="fd4-ci">Current Interest (%)</label>
          <input type="number" class="cnt-textcombo" id="fd4-ci" name="fd4-ci" value="{{.Data.Fd4CurInterest}}" inputmode="decimal" step="any" max="9999999" required/><br>
          <input type="radio" id="fd4-bondprice" name="fd4-choice" value="fd4-bondprice" {{if eq .Data.Fd4CurrentRadio "fd4-bondprice"}} checked {{end}}>
          <label class="radio-label" for="fd4-bondprice">Bond Price</label><br>
          <label class="cnt-textbox" for="fd4-bp">Bond Price</label>
          <input type="number" class="cnt-textcombo" id="fd4-bp" name="fd4-bp" value="{{.Data.Fd4BondPrice}}" inputmode="decimal" step="any" max="9999999" required/>
        </div>
      </fieldset>
    </div>
    <div class="button-back-style">
      <button class="button" id="btcompute" name="compute" value="rhs-ui4" type="submit">Compute</button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-result">{{index .Data.Fd4Result 0}}</p>
    <p class="p-result">{{index .Data.Fd4Result 1}}</p>
  </div>
</div>
{{end}}
