# Ignore everything.
**

# But include these files...
!Dockerfile
!.gitignore
!LICENSE
!README.md
# ... and these files under the 'src' directory...
!.vscode/
.vscode/*
!launch.json
# ... and these files under the 'src' directory...
# !files/
# files/*
# ... and these files under the 'src' directory...
!src/
src/*
!src/go.mod
!src/go.sum
!src/main.go
# ... and these files under the 'finances' directory...
!src/finances/
src/finances/*
!src/finances/Annuities_test.go
!src/finances/Annuities.go
!src/finances/Bonds_test.go
!src/finances/Bonds.go
!src/finances/Mortgage.go
!src/finances/Periods.go
!src/finances/SimpleInterest_test.go
!src/finances/SimpleInterest.go
# ... and this directory and its file...
!src/mathutil/
src/mathutil/*
!src/mathutil/mathutil_test.go
!src/mathutil/mathutil.go
# ... and this directory and its file...
!src/misc/
src/misc/*
!src/misc/misc.go
!src/misc/os-linux.go
# ... and this directory and its file...
!src/webfinances/
src/webfinances/*
!src/webfinances/fields.go
!src/webfinances/Messages.go
!src/webfinances/WfBondsPages.go
!src/webfinances/WfMiscellaneousPages.go
!src/webfinances/WfMortgagePages.go
!src/webfinances/WfAdCpPages.go
!src/webfinances/WfAdEppPages.go
!src/webfinances/WfAdFvPages.go
!src/webfinances/WfAdPvPages.go
!src/webfinances/WfOaInterestRatePages.go
!src/webfinances/WfOaCpPages.go
!src/webfinances/WfOaEppPages.go
!src/webfinances/WfOaFvPages.go
!src/webfinances/WfOaGaPages.go
!src/webfinances/WfOaPerpetuityPages.go
!src/webfinances/WfOaPvPages.go
!src/webfinances/WfPages.go
!src/webfinances/WfSiAccuratePages.go
!src/webfinances/WfSiBankersPages.go
!src/webfinances/WfSiOrdinaryPages.go
!src/webfinances/public/
src/webfinances/public/*
!src/webfinances/public/.gitkeep
!src/webfinances/public/css/
src/webfinances/public/css/*
!src/webfinances/public/css/home.css
!src/webfinances/public/js/
src/webfinances/public/js/*
!src/webfinances/public/js/AdCompoundingPeriods.js
!src/webfinances/public/js/AdEqualPeriodicPayments.js
!src/webfinances/public/js/AdFutureValue.js
!src/webfinances/public/js/AdPresentValue.js
!src/webfinances/public/js/bonds.js
!src/webfinances/public/js/bondsYTM.js
!src/webfinances/public/js/getParams.js
!src/webfinances/public/js/miscellaneous.js
!src/webfinances/public/js/mortgage.js
!src/webfinances/public/js/OaCompoundingPeriods.js
!src/webfinances/public/js/OaEqualPeriodicPayments.js
!src/webfinances/public/js/OaFutureValue.js
!src/webfinances/public/js/OaGrowingAnnuity.js
!src/webfinances/public/js/OaInterestRate.js
!src/webfinances/public/js/OaPerpetuity.js
!src/webfinances/public/js/OaPresentValue.js
!src/webfinances/public/js/SimpleInterestAccurate.js
!src/webfinances/public/js/SimpleInterestBankers.js
!src/webfinances/public/js/SimpleInterestOrdinary.js
!src/webfinances/templates/
src/webfinances/templates/*
!src/webfinances/templates/about.html
!src/webfinances/templates/annuitydue.html
!src/webfinances/templates/contact.html
!src/webfinances/templates/finances.html
!src/webfinances/templates/footer.html
!src/webfinances/templates/header.html
!src/webfinances/templates/index.html
!src/webfinances/templates/ordinaryannuity.html
!src/webfinances/templates/simpleinterest.html
!src/webfinances/templates/welcome.html
# ... and this directory and its file...
!src/webfinances/templates/bonds/
src/webfinances/templates/bonds/*
!src/webfinances/templates/bonds/bonds.html
!src/webfinances/templates/bonds/taxfree.html
!src/webfinances/templates/bonds/convexity.html
!src/webfinances/templates/bonds/duration.html
!src/webfinances/templates/bonds/macaulayduration.html
!src/webfinances/templates/bonds/modifiedduration.html
!src/webfinances/templates/bonds/currentprice.html
!src/webfinances/templates/bonds/yieldtocall.html
!src/webfinances/templates/bonds/yieldtomaturity.html
# ... and this directory and its file...
!src/webfinances/templates/mortgage/
src/webfinances/templates/mortgage/*
!src/webfinances/templates/mortgage/amortizationtable.html
!src/webfinances/templates/mortgage/costofmortgage.html
!src/webfinances/templates/mortgage/heloc.html
!src/webfinances/templates/mortgage/mortgage.html
# ... and this directory and its file...
!src/webfinances/templates/ordinaryannuity/
src/webfinances/templates/ordinaryannuity/*
!src/webfinances/templates/ordinaryannuity/cp/
src/webfinances/templates/ordinaryannuity/cp/*
!src/webfinances/templates/ordinaryannuity/cp/cp.html
!src/webfinances/templates/ordinaryannuity/cp/i-PMT-FV.html
!src/webfinances/templates/ordinaryannuity/cp/i-PMT-PV.html
!src/webfinances/templates/ordinaryannuity/cp/i-PV-FV.html
!src/webfinances/templates/ordinaryannuity/epp/
src/webfinances/templates/ordinaryannuity/epp/*
!src/webfinances/templates/ordinaryannuity/epp/epp.html
!src/webfinances/templates/ordinaryannuity/epp/n-i-FV.html
!src/webfinances/templates/ordinaryannuity/epp/n-i-PV.html
!src/webfinances/templates/ordinaryannuity/ga/
src/webfinances/templates/ordinaryannuity/ga/*
!src/webfinances/templates/ordinaryannuity/ga/FV.html
!src/webfinances/templates/ordinaryannuity/ga/ga.html
!src/webfinances/templates/ordinaryannuity/ga/PV.html
!src/webfinances/templates/ordinaryannuity/interestrate/
src/webfinances/templates/ordinaryannuity/interestrate/*
!src/webfinances/templates/ordinaryannuity/interestrate/interestrate.html
!src/webfinances/templates/ordinaryannuity/interestrate/n-PV-FV.html
!src/webfinances/templates/ordinaryannuity/perpetuity/
src/webfinances/templates/ordinaryannuity/perpetuity/*
!src/webfinances/templates/ordinaryannuity/perpetuity/perpetuity.html
!src/webfinances/templates/ordinaryannuity/perpetuity/gp.html
!src/webfinances/templates/ordinaryannuity/perpetuity/p.html
!src/webfinances/templates/ordinaryannuity/fv/
src/webfinances/templates/ordinaryannuity/fv/*
!src/webfinances/templates/ordinaryannuity/fv/fv.html
!src/webfinances/templates/ordinaryannuity/fv/n-i-PMT.html
!src/webfinances/templates/ordinaryannuity/fv/n-i-PV.html
!src/webfinances/templates/ordinaryannuity/pv/
src/webfinances/templates/ordinaryannuity/pv/*
!src/webfinances/templates/ordinaryannuity/pv/n-i-FV.html
!src/webfinances/templates/ordinaryannuity/pv/n-i-PMT.html
!src/webfinances/templates/ordinaryannuity/pv/pv.html
# ... and this directory and its file...
!src/webfinances/templates/annuitydue/
src/webfinances/templates/annuitydue/*
!src/webfinances/templates/annuitydue/cp/
src/webfinances/templates/annuitydue/cp/*
!src/webfinances/templates/annuitydue/cp/cp.html
!src/webfinances/templates/annuitydue/cp/i-PMT-FV.html
!src/webfinances/templates/annuitydue/cp/i-PMT-PV.html
!src/webfinances/templates/annuitydue/cp/i-PV-FV.html
!src/webfinances/templates/annuitydue/pv/
src/webfinances/templates/annuitydue/pv/*
!src/webfinances/templates/annuitydue/pv/n-i-FV.html
!src/webfinances/templates/annuitydue/pv/n-i-PMT.html
!src/webfinances/templates/annuitydue/pv/pv.html
!src/webfinances/templates/annuitydue/fv/
src/webfinances/templates/annuitydue/fv/*
!src/webfinances/templates/annuitydue/fv/fv.html
!src/webfinances/templates/annuitydue/fv/n-i-PMT.html
!src/webfinances/templates/annuitydue/fv/n-i-PV.html
!src/webfinances/templates/annuitydue/epp/
src/webfinances/templates/annuitydue/epp/*
!src/webfinances/templates/annuitydue/epp/epp.html
!src/webfinances/templates/annuitydue/epp/n-i-FV.html
!src/webfinances/templates/annuitydue/epp/n-i-PV.html
# ... and this directory and its file...
!src/webfinances/templates/miscellaneous/
src/webfinances/templates/miscellaneous/*
!src/webfinances/templates/miscellaneous/averagerate.html
!src/webfinances/templates/miscellaneous/compfrequencyconv.html
!src/webfinances/templates/miscellaneous/depreciation.html
!src/webfinances/templates/miscellaneous/effectiveannualrate.html
!src/webfinances/templates/miscellaneous/growthdecay.html
!src/webfinances/templates/miscellaneous/miscellaneous.html
!src/webfinances/templates/miscellaneous/nominalrate.html
!src/webfinances/templates/miscellaneous/nominalratevs.html
# ... and this directory and its file...
!src/webfinances/templates/simpleinterestaccurate/
src/webfinances/templates/simpleinterestaccurate/*
!src/webfinances/templates/simpleinterestaccurate/accurate.html
!src/webfinances/templates/simpleinterestaccurate/amountofinterest.html
!src/webfinances/templates/simpleinterestaccurate/interestrate.html
!src/webfinances/templates/simpleinterestaccurate/principal.html
!src/webfinances/templates/simpleinterestaccurate/time.html
# ... and this directory and its file...
!src/webfinances/templates/simpleinterestbankers/
src/webfinances/templates/simpleinterestbankers/*
!src/webfinances/templates/simpleinterestbankers/bankers.html
!src/webfinances/templates/simpleinterestbankers/amountofinterest.html
!src/webfinances/templates/simpleinterestbankers/interestrate.html
!src/webfinances/templates/simpleinterestbankers/principal.html
!src/webfinances/templates/simpleinterestbankers/time.html
# ... and this directory and its file...
!src/webfinances/templates/simpleinterestordinary/
src/webfinances/templates/simpleinterestordinary/*
!src/webfinances/templates/simpleinterestordinary/ordinary.html
!src/webfinances/templates/simpleinterestordinary/amountofinterest.html
!src/webfinances/templates/simpleinterestordinary/interestrate.html
!src/webfinances/templates/simpleinterestordinary/principal.html
!src/webfinances/templates/simpleinterestordinary/time.html
# ... and this directory and its file...
!src/middlewares/
src/middlewares/*
!src/middlewares/ChainMiddlewares.go
!src/middlewares/MwCorrelationId.go
!src/middlewares/MwContextKey.go
!src/middlewares/MwSecurityHeaders.go
!src/middlewares/MwValidateSessions.go
# ... and this directory and its file...
!src/sessions/
src/sessions/*
!src/sessions/share.go
!src/sessions/session.go
!src/sessions/users.go
# ... and this directory and its file...
!src/security/
src/security/*
!src/security/security.go
################################
# Infrastructure as Code (IaC) #
################################
!tf/
tf/*
!tf/.gitkeep
!tf/IaC-oracle/
tf/IaC-oracle/*
!tf/IaC-oracle/availability-domains.tf
!tf/IaC-oracle/bootstrap.tf
!tf/IaC-oracle/cluster.tf
!tf/IaC-oracle/compartment.tf
!tf/IaC-oracle/namespace.tf
!tf/IaC-oracle/node-pool.tf
!tf/IaC-oracle/outputs.tf
!tf/IaC-oracle/private-security-list.tf
!tf/IaC-oracle/private-subnet.tf
!tf/IaC-oracle/providers.tf
!tf/IaC-oracle/public-security-list.tf
!tf/IaC-oracle/public-subnet.tf
!tf/IaC-oracle/tf_secrets.auto.tfvars
!tf/IaC-oracle/variables.tf
