# Ignore everything.
**

# But include these files...
!Dockerfile
!.gitignore
!LICENSE
!README.md
# ... and these files under the 'src' directory...
!src/
src/*
!src/go.mod
!src/main.go
# ... and these files under the 'finances' directory...
!src/finances/
src/finances/*
!src/finances/Annuities_test.go
!src/finances/Annuities.go
!src/finances/Bonds_test.go
!src/finances/Bonds.go
!src/finances/Mortgage.go
!src/finances/Periods.go
!src/finances/SimpleInterest_test.go
!src/finances/SimpleInterest.go
# ... and this directory and its file...
!src/mathutil/
src/mathutil/*
!src/mathutil/mathutil_test.go
!src/mathutil/mathutil.go
# ... and this directory and its file...
!src/misc/
src/misc/*
!src/misc/misc.go
# ... and this directory and its file...
!src/webfinances/
src/webfinances/*
!src/webfinances/annuities.go
!src/webfinances/WfMiscellaneousPages.go
!src/webfinances/WfPages.go
!src/webfinances/WfSiBankersPages.go
!src/webfinances/WfSiOrdinaryPages.go
!src/webfinances/public/
src/webfinances/public/*
!src/webfinances/public/.gitkeep
!src/webfinances/public/css/
src/webfinances/public/css/*
!src/webfinances/public/css/home.css
!src/webfinances/templates/
src/webfinances/templates/*
!src/webfinances/templates/about.html
!src/webfinances/templates/contact.html
!src/webfinances/templates/finances.html
!src/webfinances/templates/headerfooter.html
!src/webfinances/templates/index.html
!src/webfinances/templates/miscellaneous.html
!src/webfinances/templates/simpleinterest.html
!src/webfinances/templates/simpleinterestbankers.html
!src/webfinances/templates/simpleinterestordinary.html
