# Ignore everything.
**

# But include these files...
!.dockerignore
!.gitignore
!Dockerfile-prod
!LICENSE
!README.md
# ... and these files under the 'src' directory...
# !files/
# files/*
# ... and these files under the 'src' directory...
!.github/
.github/*
!.github/.gitkeep
!.github/workflows/
.github/workflows/*
!.github/workflows/github-actions-demo.yml
# ... and these files under the 'src' directory...
# !.vscode/
# .vscode/*
# !.vscode/launch.json
# ... and these files under the 'src' directory...
!src/
src/*
!src/go.mod
!src/go.sum
!src/main.go
# ... and these files under the 'finances' directory...
!src/concurrency/
src/concurrency/*
!src/concurrency/barrier.go
!src/concurrency/channel.go
!src/concurrency/rpReadWriteLock.go
!src/concurrency/semaphore.go
!src/concurrency/waitGroup.go
!src/concurrency/waitGroupL.go
!src/concurrency/wpReadWriteLock.go
# ... and this directory and its file...
!src/config/
src/config/*
!src/config/config.go
# ... and this directory and its file...
!src/databases/
src/databases/*
!src/databases/banking/
src/databases/banking/*
!src/databases/banking/init-banking.go
!src/databases/banking/admin.go
!src/databases/banking/banking.go
!src/databases/.gitkeep
# ... and this directory and its file...
!src/finances/
src/finances/*
!src/finances/Annuities_test.go
!src/finances/Annuities.go
!src/finances/Bonds_test.go
!src/finances/Bonds.go
!src/finances/Mortgage.go
!src/finances/Periods.go
!src/finances/SimpleInterest_test.go
!src/finances/SimpleInterest.go
# ... and this directory and its file...
!src/mathutil/
src/mathutil/*
!src/mathutil/mathutil_test.go
!src/mathutil/mathutil.go
# ... and this directory and its file...
!src/security/
src/security/*
!src/security/security.go
# ... and this directory and its file...
!src/webfinances/
src/webfinances/*
!src/webfinances/fields.go
!src/webfinances/WfBondsPages.go
!src/webfinances/WfMiscellaneousPages.go
!src/webfinances/WfMortgagePages.go
!src/webfinances/WfAdCpPages.go
!src/webfinances/WfAdEppPages.go
!src/webfinances/WfAdFvPages.go
!src/webfinances/WfAdPvPages.go
!src/webfinances/WfOaInterestRatePages.go
!src/webfinances/WfOaCpPages.go
!src/webfinances/WfOaEppPages.go
!src/webfinances/WfOaFvPages.go
!src/webfinances/WfOaGaPages.go
!src/webfinances/WfOaPerpetuityPages.go
!src/webfinances/WfOaPvPages.go
!src/webfinances/WfPages.go
!src/webfinances/WfSiAccuratePages.go
!src/webfinances/WfSiBankersPages.go
!src/webfinances/WfSiOrdinaryPages.go
!src/webfinances/public/
src/webfinances/public/*
!src/webfinances/public/.gitkeep
!src/webfinances/public/css/
src/webfinances/public/css/*
!src/webfinances/public/css/home.css
!src/webfinances/public/js/
src/webfinances/public/js/*
!src/webfinances/public/js/AdCompoundingPeriods.js
!src/webfinances/public/js/AdEqualPeriodicPayments.js
!src/webfinances/public/js/AdFutureValue.js
!src/webfinances/public/js/AdPresentValue.js
!src/webfinances/public/js/bonds.js
!src/webfinances/public/js/bondsYTM.js
!src/webfinances/public/js/getParams.js
!src/webfinances/public/js/miscellaneous.js
!src/webfinances/public/js/mortgage.js
!src/webfinances/public/js/OaCompoundingPeriods.js
!src/webfinances/public/js/OaEqualPeriodicPayments.js
!src/webfinances/public/js/OaFutureValue.js
!src/webfinances/public/js/OaGrowingAnnuity.js
!src/webfinances/public/js/OaInterestRate.js
!src/webfinances/public/js/OaPerpetuity.js
!src/webfinances/public/js/OaPresentValue.js
!src/webfinances/public/js/SimpleInterestAccurate.js
!src/webfinances/public/js/SimpleInterestBankers.js
!src/webfinances/public/js/SimpleInterestOrdinary.js
!src/webfinances/templates/
src/webfinances/templates/*
!src/webfinances/templates/about.html
!src/webfinances/templates/annuitydue.html
!src/webfinances/templates/contact.html
!src/webfinances/templates/finances.html
!src/webfinances/templates/footer.html
!src/webfinances/templates/header.html
!src/webfinances/templates/index.html
!src/webfinances/templates/login.html
!src/webfinances/templates/ordinaryannuity.html
!src/webfinances/templates/register.html
!src/webfinances/templates/simpleinterest.html
!src/webfinances/templates/welcome.html
# ... and this directory and its file...
!src/webfinances/templates/bonds/
src/webfinances/templates/bonds/*
!src/webfinances/templates/bonds/bonds.html
!src/webfinances/templates/bonds/taxfree.html
!src/webfinances/templates/bonds/convexity.html
!src/webfinances/templates/bonds/duration.html
!src/webfinances/templates/bonds/macaulayduration.html
!src/webfinances/templates/bonds/modifiedduration.html
!src/webfinances/templates/bonds/currentprice.html
!src/webfinances/templates/bonds/yieldtocall.html
!src/webfinances/templates/bonds/yieldtomaturity.html
# ... and this directory and its file...
!src/webfinances/templates/mortgage/
src/webfinances/templates/mortgage/*
!src/webfinances/templates/mortgage/amortizationtable.html
!src/webfinances/templates/mortgage/costofmortgage.html
!src/webfinances/templates/mortgage/heloc.html
!src/webfinances/templates/mortgage/mortgage.html
# ... and this directory and its file...
!src/webfinances/templates/ordinaryannuity/
src/webfinances/templates/ordinaryannuity/*
!src/webfinances/templates/ordinaryannuity/cp/
src/webfinances/templates/ordinaryannuity/cp/*
!src/webfinances/templates/ordinaryannuity/cp/cp.html
!src/webfinances/templates/ordinaryannuity/cp/i-PMT-FV.html
!src/webfinances/templates/ordinaryannuity/cp/i-PMT-PV.html
!src/webfinances/templates/ordinaryannuity/cp/i-PV-FV.html
!src/webfinances/templates/ordinaryannuity/epp/
src/webfinances/templates/ordinaryannuity/epp/*
!src/webfinances/templates/ordinaryannuity/epp/epp.html
!src/webfinances/templates/ordinaryannuity/epp/n-i-FV.html
!src/webfinances/templates/ordinaryannuity/epp/n-i-PV.html
!src/webfinances/templates/ordinaryannuity/ga/
src/webfinances/templates/ordinaryannuity/ga/*
!src/webfinances/templates/ordinaryannuity/ga/FV.html
!src/webfinances/templates/ordinaryannuity/ga/ga.html
!src/webfinances/templates/ordinaryannuity/ga/PV.html
!src/webfinances/templates/ordinaryannuity/interestrate/
src/webfinances/templates/ordinaryannuity/interestrate/*
!src/webfinances/templates/ordinaryannuity/interestrate/interestrate.html
!src/webfinances/templates/ordinaryannuity/interestrate/n-PV-FV.html
!src/webfinances/templates/ordinaryannuity/perpetuity/
src/webfinances/templates/ordinaryannuity/perpetuity/*
!src/webfinances/templates/ordinaryannuity/perpetuity/perpetuity.html
!src/webfinances/templates/ordinaryannuity/perpetuity/gp.html
!src/webfinances/templates/ordinaryannuity/perpetuity/p.html
!src/webfinances/templates/ordinaryannuity/fv/
src/webfinances/templates/ordinaryannuity/fv/*
!src/webfinances/templates/ordinaryannuity/fv/fv.html
!src/webfinances/templates/ordinaryannuity/fv/n-i-PMT.html
!src/webfinances/templates/ordinaryannuity/fv/n-i-PV.html
!src/webfinances/templates/ordinaryannuity/pv/
src/webfinances/templates/ordinaryannuity/pv/*
!src/webfinances/templates/ordinaryannuity/pv/n-i-FV.html
!src/webfinances/templates/ordinaryannuity/pv/n-i-PMT.html
!src/webfinances/templates/ordinaryannuity/pv/pv.html
# ... and this directory and its file...
!src/webfinances/templates/annuitydue/
src/webfinances/templates/annuitydue/*
!src/webfinances/templates/annuitydue/cp/
src/webfinances/templates/annuitydue/cp/*
!src/webfinances/templates/annuitydue/cp/cp.html
!src/webfinances/templates/annuitydue/cp/i-PMT-FV.html
!src/webfinances/templates/annuitydue/cp/i-PMT-PV.html
!src/webfinances/templates/annuitydue/cp/i-PV-FV.html
!src/webfinances/templates/annuitydue/pv/
src/webfinances/templates/annuitydue/pv/*
!src/webfinances/templates/annuitydue/pv/n-i-FV.html
!src/webfinances/templates/annuitydue/pv/n-i-PMT.html
!src/webfinances/templates/annuitydue/pv/pv.html
!src/webfinances/templates/annuitydue/fv/
src/webfinances/templates/annuitydue/fv/*
!src/webfinances/templates/annuitydue/fv/fv.html
!src/webfinances/templates/annuitydue/fv/n-i-PMT.html
!src/webfinances/templates/annuitydue/fv/n-i-PV.html
!src/webfinances/templates/annuitydue/epp/
src/webfinances/templates/annuitydue/epp/*
!src/webfinances/templates/annuitydue/epp/epp.html
!src/webfinances/templates/annuitydue/epp/n-i-FV.html
!src/webfinances/templates/annuitydue/epp/n-i-PV.html
# ... and this directory and its file...
!src/webfinances/templates/miscellaneous/
src/webfinances/templates/miscellaneous/*
!src/webfinances/templates/miscellaneous/averagerate.html
!src/webfinances/templates/miscellaneous/compfrequencyconv.html
!src/webfinances/templates/miscellaneous/depreciation.html
!src/webfinances/templates/miscellaneous/effectiveannualrate.html
!src/webfinances/templates/miscellaneous/growthdecay.html
!src/webfinances/templates/miscellaneous/miscellaneous.html
!src/webfinances/templates/miscellaneous/nominalrate.html
!src/webfinances/templates/miscellaneous/nominalratevs.html
# ... and this directory and its file...
!src/webfinances/templates/simpleinterestaccurate/
src/webfinances/templates/simpleinterestaccurate/*
!src/webfinances/templates/simpleinterestaccurate/accurate.html
!src/webfinances/templates/simpleinterestaccurate/amountofinterest.html
!src/webfinances/templates/simpleinterestaccurate/interestrate.html
!src/webfinances/templates/simpleinterestaccurate/principal.html
!src/webfinances/templates/simpleinterestaccurate/time.html
# ... and this directory and its file...
!src/webfinances/templates/simpleinterestbankers/
src/webfinances/templates/simpleinterestbankers/*
!src/webfinances/templates/simpleinterestbankers/bankers.html
!src/webfinances/templates/simpleinterestbankers/amountofinterest.html
!src/webfinances/templates/simpleinterestbankers/interestrate.html
!src/webfinances/templates/simpleinterestbankers/principal.html
!src/webfinances/templates/simpleinterestbankers/time.html
# ... and this directory and its file...
!src/webfinances/templates/simpleinterestordinary/
src/webfinances/templates/simpleinterestordinary/*
!src/webfinances/templates/simpleinterestordinary/ordinary.html
!src/webfinances/templates/simpleinterestordinary/amountofinterest.html
!src/webfinances/templates/simpleinterestordinary/interestrate.html
!src/webfinances/templates/simpleinterestordinary/principal.html
!src/webfinances/templates/simpleinterestordinary/time.html
################################
# Infrastructure as Code (IaC) #
################################
!IaC-K8s/
IaC-K8s/*
!IaC-K8s/.gitkeep
!IaC-K8s/oracle/
IaC-K8s/oracle/*
!IaC-K8s/oracle/compartment.tf
!IaC-K8s/oracle/data.tf
!IaC-K8s/oracle/main.tf
!IaC-K8s/oracle/node-port-nlb.tf
!IaC-K8s/oracle/null-resource.tf
!IaC-K8s/oracle/locals.tf
!IaC-K8s/oracle/outputs.tf
!IaC-K8s/oracle/providers.tf
!IaC-K8s/oracle/ssh-key.tf
!IaC-K8s/oracle/variables.tf
!IaC-K8s/oracle/modules/
IaC-K8s/oracle/modules/*
!IaC-K8s/oracle/modules/cluster/
IaC-K8s/oracle/modules/cluster/*
!IaC-K8s/oracle/modules/cluster/main.tf
!IaC-K8s/oracle/modules/igw/
IaC-K8s/oracle/modules/igw/*
!IaC-K8s/oracle/modules/igw/main.tf
!IaC-K8s/oracle/modules/load-balancer/
IaC-K8s/oracle/modules/load-balancer/*
!IaC-K8s/oracle/modules/load-balancer/main.tf
!IaC-K8s/oracle/modules/nat/
IaC-K8s/oracle/modules/nat/*
!IaC-K8s/oracle/modules/nat/main.tf
!IaC-K8s/oracle/modules/network-load-balancer/
IaC-K8s/oracle/modules/network-load-balancer/*
!IaC-K8s/oracle/modules/network-load-balancer/main.tf
!IaC-K8s/oracle/modules/node/
IaC-K8s/oracle/modules/node/*
!IaC-K8s/oracle/modules/node/main.tf
!IaC-K8s/oracle/modules/subnet/
IaC-K8s/oracle/modules/subnet/*
!IaC-K8s/oracle/modules/subnet/main.tf
########################################
# Infrastructure as Code (IaC) for app #
########################################
!IaC-app/
IaC-app/*
!IaC-app/.terraform.lock.hcl
!IaC-app/backend.tf
!IaC-app/iac.sh
!IaC-app/main.tf
!IaC-app/namespace.tf
!IaC-app/providers.tf
!IaC-app/variables.tf
!IaC-app/modules/
IaC-app/modules/*
!IaC-app/modules/cronjob/
IaC-app/modules/cronjob/*
!IaC-app/modules/cronjob/main.tf
!IaC-app/modules/deployment/
IaC-app/modules/deployment/*
!IaC-app/modules/deployment/main.tf
!IaC-app/modules/statefulset/
IaC-app/modules/statefulset/*
!IaC-app/modules/statefulset/main.tf
!IaC-app/modules/traefik/
IaC-app/modules/traefik/*
!IaC-app/modules/traefik/cert-manager/
IaC-app/modules/traefik/cert-manager/*
!IaC-app/modules/traefik/cert-manager/acme-issuer/
IaC-app/modules/traefik/cert-manager/acme-issuer/*
!IaC-app/modules/traefik/cert-manager/acme-issuer/main.tf
!IaC-app/modules/traefik/cert-manager/cert-manager/
IaC-app/modules/traefik/cert-manager/cert-manager/*
!IaC-app/modules/traefik/cert-manager/cert-manager/main.tf
!IaC-app/modules/traefik/cert-manager/certificates/
IaC-app/modules/traefik/cert-manager/certificates/*
!IaC-app/modules/traefik/cert-manager/certificates/main.tf
!IaC-app/modules/traefik/error-page/
IaC-app/modules/traefik/error-page/*
!IaC-app/modules/traefik/error-page/main.tf
!IaC-app/modules/traefik/ingress-route/
IaC-app/modules/traefik/ingress-route/*
!IaC-app/modules/traefik/ingress-route/main.tf
!IaC-app/modules/traefik/middlewares/
IaC-app/modules/traefik/middlewares/*
!IaC-app/modules/traefik/middlewares/middleware-compress/
IaC-app/modules/traefik/middlewares/middleware-compress/*
!IaC-app/modules/traefik/middlewares/middleware-compress/main.tf
!IaC-app/modules/traefik/middlewares/middleware-dashboard-basic-auth/
IaC-app/modules/traefik/middlewares/middleware-dashboard-basic-auth/*
!IaC-app/modules/traefik/middlewares/middleware-dashboard-basic-auth/main.tf
!IaC-app/modules/traefik/middlewares/middleware-error-page/
IaC-app/modules/traefik/middlewares/middleware-error-page/*
!IaC-app/modules/traefik/middlewares/middleware-error-page/main.tf
!IaC-app/modules/traefik/middlewares/middleware-gateway-basic-auth/
IaC-app/modules/traefik/middlewares/middleware-gateway-basic-auth/*
!IaC-app/modules/traefik/middlewares/middleware-gateway-basic-auth/main.tf
!IaC-app/modules/traefik/middlewares/middleware-kibana-basic-auth/
IaC-app/modules/traefik/middlewares/middleware-kibana-basic-auth/*
!IaC-app/modules/traefik/middlewares/middleware-kibana-basic-auth/main.tf
!IaC-app/modules/traefik/middlewares/middleware-rabbitmq-basic-auth/
IaC-app/modules/traefik/middlewares/middleware-rabbitmq-basic-auth/*
!IaC-app/modules/traefik/middlewares/middleware-rabbitmq-basic-auth/main.tf
!IaC-app/modules/traefik/middlewares/middleware-rate-limit/
IaC-app/modules/traefik/middlewares/middleware-rate-limit/*
!IaC-app/modules/traefik/middlewares/middleware-rate-limit/main.tf
!IaC-app/modules/traefik/middlewares/middleware-redirect-https/
IaC-app/modules/traefik/middlewares/middleware-redirect-https/*
!IaC-app/modules/traefik/middlewares/middleware-redirect-https/main.tf
!IaC-app/modules/traefik/middlewares/middleware-security-headers/
IaC-app/modules/traefik/middlewares/middleware-security-headers/*
!IaC-app/modules/traefik/middlewares/middleware-security-headers/main.tf
!IaC-app/modules/traefik/tlsoptions/
IaC-app/modules/traefik/tlsoptions/*
!IaC-app/modules/traefik/tlsoptions/main.tf
!IaC-app/modules/traefik/tlsstore/
IaC-app/modules/traefik/tlsstore/*
!IaC-app/modules/traefik/tlsstore/main.tf
!IaC-app/modules/traefik/traefik/
IaC-app/modules/traefik/traefik/*
!IaC-app/modules/traefik/traefik/util/
IaC-app/modules/traefik/traefik/util/*
!IaC-app/modules/traefik/traefik/util/traefik-scc.yaml
!IaC-app/modules/traefik/traefik/util/values.yaml
!IaC-app/modules/traefik/traefik/main.tf
!IaC-app/modules/.gitkeep
#
!IaC-app/utilities/
IaC-app/utilities/*
!IaC-app/utilities/general/
IaC-app/utilities/general/*
!IaC-app/utilities/general/scripts/
IaC-app/utilities/general/scripts/*
!IaC-app/utilities/general/scripts/health-check.sh
!IaC-app/utilities/general/scripts/inspect-pod-node.sh
!IaC-app/utilities/general/yaml/
IaC-app/utilities/general/yaml/*
!IaC-app/utilities/general/yaml/pvc-inspector-pod.yaml
!IaC-app/utilities/postgres/
IaC-app/utilities/postgres/*
!IaC-app/utilities/postgres/configs/
IaC-app/utilities/postgres/configs/*
!IaC-app/utilities/postgres/configs/pg_hba.conf
!IaC-app/utilities/postgres/configs/pg_ident.conf
!IaC-app/utilities/postgres/configs/postgresql.conf
!IaC-app/utilities/postgres/sql/
IaC-app/utilities/postgres/sql/*
!IaC-app/utilities/postgres/sql/baseline/
IaC-app/utilities/postgres/sql/baseline/*
!IaC-app/utilities/postgres/sql/baseline/admin.sql
!IaC-app/utilities/postgres/sql/baseline/banking-system.sql
!IaC-app/utilities/postgres/sql/.gitkeep
!IaC-app/utilities/postgres/scripts/
IaC-app/utilities/postgres/scripts/*
!IaC-app/utilities/postgres/scripts/banking-system.sh
!IaC-app/utilities/postgres/scripts/create-replication-user.sh
!IaC-app/utilities/postgres/scripts/postgres-backup.sh
!IaC-app/utilities/postgres/.gitkeep
!IaC-app/utilities/.gitkeep
###########
# Storage #
###########
!IaC-storage/
IaC-storage/*
!IaC-storage/.gitkeep
#
!IaC-storage/oracle/
IaC-storage/oracle/*
!IaC-storage/oracle/modules/
IaC-storage/oracle/modules/*
!IaC-storage/oracle/modules/bucket/
IaC-storage/oracle/modules/bucket/*
!IaC-storage/oracle/modules/bucket/main.tf
!IaC-storage/oracle/modules/.gitkeep
!IaC-storage/oracle/data.tf
!IaC-storage/oracle/main.tf
!IaC-storage/oracle/providers.tf
!IaC-storage/oracle/variables.tf
