{{define "content"}}
<div class="button-style">
  <a href="/fin/mortgage" target="_self" tabindex="-1">
    <button class="button">Mortgage</button>
  </a>
</div>
<div class="button-style">
  <a href="/fin/ordinaryannuity" target="_self" tabindex="-1">
    <button class="button">Ordinary Annuity</button>
  </a>
</div>
<div class="button-style">
  <a href="/fin/annuitydue" target="_self" tabindex="-1">
    <button class="button">Annuity Due</button>
  </a>
</div>
<div class="button-style">
  <a href="/fin/bonds" target="_self" tabindex="-1">
    <button class="button">Bonds</button>
  </a>
</div>
<div class="button-style">
  <a href="/fin/miscellaneous" target="_self" tabindex="-1">
    <button class="button">Miscellaneous</button>
  </a>
</div>
<div class="button-style">
  <a href="/fin/simpleinterest" target="_self" tabindex="-1">
    <button class="button">Simple Interest</button>
  </a>
</div>
<div class="button-back-style">
  <a href="/welcome" target="_self" tabindex="-1">
    <button class="button">Back</button>
  </a>
</div>
<script type="text/javascript" src="/public/js/tabFullPage.js"></script>
{{end}}
