{{ define "oaperpetuity-layout" }}

<!-- rhs-ui1 -->
<div id="rhs-ui1">
  <form action="/fin/ordinaryannuity/perpetuity" method="post"
   enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}"/>
    <div style="margin-top: 20px;">
      <label class="text-box" for="fd1-interest">Interest (%)...................</label>
      <input class="text-combo" id="fd1-interest" name="fd1-interest" value="{{ .Fd1Interest }}"
       type="text" inputmode="numeric" step="any" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px;">
      <label class="text-box" for="fd1-cp">Compounding Period...</label>
      <select class="text-combo" id="fd1-cp" name="fd1-cp">
        <option class="text-combo" value="annually"
         {{ if eq .Fd1Compound "annually" }} selected {{ end }}>Annually</option>
        <option class="text-combo" value="semiannually"
         {{ if eq .Fd1Compound "semiannually" }} selected {{ end }}>Semiannually</option>
        <option class="text-combo" value="quarterly"
         {{ if eq .Fd1Compound "quarterly" }} selected {{ end }}>Quarterly</option>
        <option class="text-combo" value="monthly"
         {{ if eq .Fd1Compound "monthly" }} selected {{ end }}>Monthly</option>
        <option class="text-combo" value="weekly"
         {{ if eq .Fd1Compound "weekly" }} selected {{ end }}>Weekly</option>
        <option class="text-combo" value="daily"
         {{ if eq .Fd1Compound "daily" }} selected {{ end }}>Daily</option>
        <option class="text-combo" value="continuously"
         {{if eq .Fd1Compound "continuously"}} selected {{end}}>Continuously</option>
      </select>
    </div>
    <div style="margin-top: 20px;">
      <label class="text-box" for="fd1-pmt">Payment (PMT)............</label>
      <input class="text-combo" id="fd1-pmt" name="fd1-pmt" value="{{ .Fd1Pmt }}" type="number"
       step="any" min="1" maxlength="7" required/>
    </div>
    <div class="div-center" style="margin-top: 45px;">
      <button class="button" id="btcompute" name="compute" value="rhs-ui1" type="submit">
        Compute
      </button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-result">{{ .Fd1Result }}</p>
  </div>
</div>

{{ end }}
