{{ define "mortgage-layout" }}

<!-- rhs-ui3 -->
<div id="rhs-ui3">
  <form action="/fin/mortgage" method="POST" enctype="application/x-www-form-urlencoded">
    <div style="margin-top: 20px">
      <label class="text-box" for="fd3-mrate">Mortgage Rate (%)...</label>
      <input class="text-combo" id="fd3-mrate" name="fd3-mrate" value="{{ .Fd3Mrate }}" type="number" step="any" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px;">
      <label class="text-box" for="fd3-mbalance">Mortgage Balance.....</label>
      <input class="text-combo" id="fd3-mbalance" name="fd3-mbalance" value="{{ .Fd3Mbalance }}" type="number" step="any" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px;">
      <label class="text-box" for="fd3-hrate">HELOC Rate (%).....</label>
      <input class="text-combo" id="fd3-hrate" name="fd3-hrate" value="{{ .Fd3Hrate }}" type="number" step="any" min="1" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px;">
      <label class="text-box" for="fd3-hbalance">HELOC Balance.......</label>
      <input class="text-combo" id="fd3-hbalance" name="fd3-hbalance" value="{{ .Fd3Hbalance }}" type="number" step="any" min="1" maxlength="7" required/>
    </div>
    <div class="div-center" style="margin-top: 45px;">
      <button class="button" id="btcompute" value="rhs-ui3" name="compute" type="submit">
        Compute
      </button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-note">{{ index .Fd3Result 0 }}</p>
    <p class="p-note">{{ index .Fd3Result 1 }}</p>
    <p class="p-result">{{ index .Fd3Result 2 }}</p>
  </div>
</div>

{{ end }}
