/***
A dot (.) is used in CSS to designate class names.
***/

body {
  display: flex;
  flex-direction: column;
  background-color: #d1f7cc;
  min-height: 100vh;
}

.title {
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}

.title b {
  color:rgb(2, 71, 31);
  font-size: 30px;
}

.datetime {
  margin-top: 0px;
  margin-left: 10px;
  text-align: left;
}

.datetime b {
  color:rgb(2, 71, 31);
  font-size: 15px;
}

nav {
  clear: both;
}

nav ul {
  background-color: rgb(2, 71, 31);
  height: 80px;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  color: rgb(185, 241, 163);
  padding: 20px;
}

nav ul li a {
  color: rgb(185, 241, 163);
  text-decoration: none;
  font-size: 30px;
}

nav ul li a:hover {
  background-color: rgb(185, 241, 163);
  color: rgb(2, 71, 31)
}

nav ul li:hover {
  background-color: rgb(185, 241, 163);
  color: rgb(2, 71, 31)
}

.footer-style {
  color: rgb(2, 71, 31);
  margin-top: auto;
}

.footer {
  text-align: center;
  height: 30px;
}

.footer p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.button-style {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.button-back-style {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}

.button {
  background-color: rgb(2, 71, 31);
  color: rgb(185, 241, 163);
  border-radius: 8px;
  height: 50px;
  width: 200px;
  font-size: 18px;
}

.button1 {
  background-color: rgb(2, 71, 31);
  color: rgb(185, 241, 163);
  border-radius: 8px;
  height: 110px;
  width: 200px;
  font-size: 18px;
}

.button2 {
  background-color: rgb(2, 71, 31);
  color: rgb(185, 241, 163);
  border-radius: 8px;
  height: 70px;
  width: 200px;
  font-size: 18px;
}

.button:hover {
  background-color: rgb(185, 241, 163);
  color: rgb(2, 71, 31);
  border: 2px solid rgb(2, 71, 31);
}

button:disabled,
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Split the screen in half. */
.split-screen {
  height: 100vh;
  width: 100%;
}

/* Control the left side. */
.left-side {
  float: left;
  height: 100vh;
  width: 20%;
  background-color: rgb(182, 239, 160);
}

/* Control the right side. */
.right-side {
  float: right;
  height: 100vh;
  width: 80%;
}

.text-style {
  margin-top: 20px;
}

.text-box {
  text-align: left;
  margin-left: 15px;
  color:rgb(2, 71, 31);
  font-weight: bold;
  font-size: 18px;
}

.text-combo {
  color: rgb(2, 71, 31);
  background-color: rgb(182, 239, 160);
  font-weight: bold;
  font-size: 18px;
}

.p-result {
  color: red;
  font-weight: bold;
  margin-left: 20px;
}

.p-note {
  color: rgb(2, 71, 31);
  font-weight: bold;
  font-size: 14px;
  /* margin: top, right, bottom, left */
  margin: 10px 0px 0px 20px;
}

/*** Font ***/
.font-color {/*Use font-red-bold*/
  color: red;
  font-weight: bold;
  margin-left: 20px;
}

.font-red-bold {
  color: red;
  font-weight: bold;
  margin-left: 20px;
}
.font-black-bold {
  color: black;
  font-weight: bold;
  margin-left: 20px;
}
/*** Font ***/

/*** Form grid ***/
/* CSS Grid for aligning form elements. */
.form-grid {
  display: grid; /* Declares the element as a grid container */
  /* Creates two columns: one for labels (auto-width); one for inputs (takes 50% of remaining space) */
  grid-template-columns: max-content 0.5fr;
  gap: 10px 10px; /* Adds space between rows and columns */
}
.form-grid label {
  /* Align labels to the end of the grid cell (right-align) */
  justify-self: end;
}
/* .form-grid input {
} */
/*** Form grid ***/

/*** Headers ***/
.h1-center {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}
/*** Headers ***/

/*** Radio ***/
.radio-fieldset {
  margin-top: 20px;
  margin-left: 15px;
  border: 3px solid rgb(2, 71, 31);
  border-radius: 8px;
}
.radio-legend {
  font-weight: bold;
  font-size: 18px;
}
.radio-label {
  color:rgb(2, 71, 31);
  font-weight: bold;
  font-size: 18px;
}
.radio-text-box {
  margin-left: 30px;
}
/*** Radio ***/

/*** Table ***/
.amortization-table-style {
  font-size: 1.0em;
  font-weight: bold;
  font-family: sans-serif;
  border-collapse: collapse;
  color: rgb(2, 71, 31);
  margin: 25px auto;
  width: 90%;
  border-radius: 5px;
  /* overflow: hidden; */
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.15);
}
/* Header */
.amortization-table-style thead tr {
  background-color: rgb(2, 71, 31);
  color: rgb(185, 241, 163);
  text-align: center;
  font-weight: bold;
}
/* Cells */
.amortization-table-style th,
.amortization-table-style td {
  /* border: 2px solid #037a13; */
  text-align: center;
  padding: 12px 15px;
}
/* Rows */
.amortization-table-style tbody tr {
  border-bottom: 1px solid rgb(2, 71, 31);
}
.amortization-table-style tbody tr:nth-of-type(even) {
  background-color: rgb(185, 243, 163);
}
.amortization-table-style tbody tr:last-of-type {
  border-bottom: 2px solid rgb(2, 71, 31);
}
/*Active row */
/* .amortization-table-style tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */
/*** Table ***/
