/***
A dot (.) is used in CSS to designate class names.
***/

body {
  display: flex;
  flex-direction: column;
  background-color: #d1f7cc;
  min-height: 100vh;
}

.title {
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}

.title b {
  color:rgb(2, 71, 31);
  font-size: 30px;
}

.datetime {
  margin-top: 0px;
  margin-left: 10px;
  text-align: left;
}

.datetime b {
  color:rgb(2, 71, 31);
  font-size: 15px;
}

nav {
  clear: both;
}

nav ul {
  background-color: rgb(2, 71, 31);
  height: 80px;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  color: rgb(185, 241, 163);
  padding: 20px;
}

nav ul li a {
  color: rgb(185, 241, 163);
  text-decoration: none;
  font-size: 30px;
}

nav ul li a:hover {
  background-color: rgb(185, 241, 163);
  color: rgb(2, 71, 31)
}

nav ul li:hover {
  background-color: rgb(185, 241, 163);
  color: rgb(2, 71, 31)
}

.footer {
  text-align: center;
  height: 30px;
}

.footer p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.div-center {
  text-align: center;
  margin-bottom: 10px;
}

.button {
  background-color: rgb(2, 71, 31);
  color: rgb(185, 241, 163);
  border-radius: 8px;
  height: 50px;
  width: 200px;
  font-size: 18px;
}

.button:hover {
  background-color: rgb(185, 241, 163);
  color: rgb(2, 71, 31);
  border: 2px solid rgb(2, 71, 31);
}

button:disabled,
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Split the screen in half. */
.split-screen {
  height: 100vh;
  width: 100%;
}

/* Control the left side. */
.left-side {
  float: left;
  height: 100vh;
  width: 20%;
  background-color: rgb(182, 239, 160);
}

/* Control the right side. */
.right-side {
  float: right;
  height: 100vh;
  width: 80%;
}

.text-box {
  text-align: left;
  margin-left: 15px;
  color:rgb(2, 71, 31);
  font-weight: bold;
  font-size: 18px;
}

.text-combo {
  color: rgb(2, 71, 31);
  background-color: rgb(182, 239, 160);
  font-weight: bold;
  font-size: 18px;
}
