{{ define "oaperpetuity-layout" }}

<!-- rhs-ui1 -->
<div id="rhs-ui1">
  <form action="/fin/ordinaryannuity/perpetuity" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}"/>
    <div class="cnt-grid">
      <label class="cnt-textbox" for="fd1-interest">Interest (%)</label>
      <input type="number" id="fd1-interest" name="fd1-interest" value="{{ .Fd1Interest }}" inputmode="numeric" step="0.5" maxlength="7" required/>
      <label class="cnt-textbox" for="fd1-cp">Compounding Period</label>
      <select class="cnt-select" id="fd1-cp" name="fd1-cp">
        <option value="annually" {{ if eq .Fd1Compound "annually" }} selected {{ end }}>Annually</option>
        <option value="semiannually" {{ if eq .Fd1Compound "semiannually" }} selected {{ end }}>Semiannually</option>
        <option value="quarterly" {{ if eq .Fd1Compound "quarterly" }} selected {{ end }}>Quarterly</option>
        <option value="monthly" {{ if eq .Fd1Compound "monthly" }} selected {{ end }}>Monthly</option>
        <option value="weekly" {{ if eq .Fd1Compound "weekly" }} selected {{ end }}>Weekly</option>
        <option value="daily" {{ if eq .Fd1Compound "daily" }} selected {{ end }}>Daily</option>
        <option value="continuously" {{ if eq .Fd1Compound "continuously" }} selected {{ end }}>Continuously</option>
      </select>
      <label class="cnt-textbox" for="fd1-pmt">Payment (PMT)</label>
      <input type="number" id="fd1-pmt" name="fd1-pmt" value="{{ .Fd1Pmt }}" inputmode="numeric" step="any" maxlength="7" required/>
    </div>
    <div class="button-back-style">
      <button class="button" id="btcompute" name="compute" value="rhs-ui1" type="submit">
        Compute
      </button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-result">{{ .Fd1Result }}</p>
  </div>
</div>

{{ end }}
