{{define "content"}}
<div class="split-screen">
  <div class="left-side">
    <div class="button-style">
      <a href="/admin/settings?compute=rhs-ui1" target="_self" tabindex="-1">
        <button class="button" id="lhs-button1">Change Password</button>
      </a>
    </div>
    <div class="button-back-style">
      <a href="/admin/settings" target="_self" tabindex="-1">
        <button class="button">Back</button>
      </a>
    </div>
  </div>
  <div class="right-side">
    {{template "admin-security-layout" .}}
  </div>
</div>
<script type="text/javascript" src="/public/js/setPageUI.js" id="element-id" data-cb="{{.Data.CurrentButton}}"></script>
<script type="text/javascript" src="/public/js/tabSplitPage.js"></script>
{{end}}
