<!-- The define action for the register page -->
{{define "users-layout"}}

<!-- rhs-ui1 -->
<br>
<div class="font-color">
  <legend>Fields in Red are required</legend><br>
</div>
<form method="post" action="/admin/users" enctype="application/x-www-form-urlencoded" autocomplete="off">
  <input type="hidden" name="csrf_token" value="{{.Data.CsrfToken}}"/>
  <div class="cnt-scroll" id="form-scroll-cnt">
    <div class="cnt-grid">
      <label class="label-red" for="uname">Username</label>
      <!-- Add explicit autofocus property targeting username here -->
      <input type="text" id="uname" name="uname" value="{{.Data.Username}}" autofocus required maxlength="256">
      <!-- The password entry should be obscured on the user's screen. -->
      <label class="label-red" for="pwd">Password</label>
      <input type="password" id="pwd" name="pwd" value="{{.Data.Password}}" required maxlength="256">
      <label class="label-red" for="fname">First Name</label>
      <input type="text" id="fname" name="fname" value="{{.Data.Fname}}" required maxlength="256">
      <label for="mname">Middle Name</label>
      <input type="text" id="mname" name="mname" value="{{.Data.Mname}}" maxlength="256">
      <label class="label-red" for="lname">Last Name</label>
      <input type="text" id="lname" name="lname" value="{{.Data.Lname}}" required maxlength="256">
      <label for="marketing">Marketing Consent</label>
      <select class="cnt-select" id="marketing" name="marketing">
        <option value="true" {{if eq .Data.Marketing "true"}} selected {{end}}>TRUE</option>
        <option value="false" {{if eq .Data.Marketing "false"}} selected {{end}}>FALSE</option>
      </select>
      <label class="label-red" for="bdate">Birth Date</label>
      <input type="date" id="bdate" name="bdate" value="{{.Data.Bdate}}" min="1899-12-31" max="2050-12-31" required/>
      <label for="gender">Gender</label>
      <select class="cnt-select" id="gender" name="gender">
        <option value="male" {{if eq .Data.Gender "male"}} selected {{end}}>MALE</option>
        <option value="female" {{if eq .Data.Gender "female"}} selected {{end}}>FEMALE</option>
      </select>
      <label class="label-red" for="address1">Address</label>
      <input type="text" id="address1" name="address1" value="{{.Data.Address1}}" required maxlength="256">
      <label for="address2">Address</label>
      <input type="text" id="address2" name="address2" value="{{.Data.Address2}}" maxlength="256">
      <label class="label-red" for="city">City</label>
      <input type="text" id="city" name="city" value="{{.Data.City}}" required maxlength="256">
      <label class="label-red" for="state">State</label>
      <input type="text" id="state" name="state" value="{{.Data.State}}" required maxlength="256">
      <label class="label-red" for="country">Country</label>
      <input type="text" id="country" name="country" value="{{.Data.Country}}" required maxlength="128">
      <label for="zip_code">Zip Code</label>
      <input type="text" id="zip_code" name="zip_code" value="{{.Data.Zip_Code}}" maxlength="64">
      <label class="label-red" for="email">Email</label>
      <input type="text" id="email" name="email" value="{{.Data.Email}}" required maxlength="256">
      <label class="label-red" for="phone">Phone</label>
      <input type="text" id="phone" name="phone" value="{{.Data.Phone}}" required maxlength="64">
    </div>
  </div>
  <div class="button-back-style">
    <button type="submit" class="button" id="btsave" name="save" value="rhs-ui1">Save</button>
  </div>
</form>
<div>
  <br><label class="p-result">{{.Data.ErrMsg}}</label>
</div>

{{end}}

{{define "scripts"}}
  <!-- This will automatically insert itself at the bottom of the master layout -->
  <script type="text/javascript" src="/public/js/setPageUI.js" id="element-id" data-cb="{{.Data.CurrentButton}}"></script>
  <script type="text/javascript" src="/public/js/tabSplitPage.js" id="scrollbar-script"></script>
{{end}}
