{{define "content"}}

<div class="split-screen">
  <div class="left-side">
    <div class="button-style">
      <a href="/fin/mortgage?compute=rhs-ui1" target="_self">
        <button class="button" id="lhs-button1">Cost of Mortgage</button>
      </a>
    </div>
    <div class="button-style">
      <a href="/fin/mortgage?compute=rhs-ui2" target="_self">
        <button class="button" id="lhs-button2">Amortization Table</button>
      </a>
    </div>
    <div class="button-style">
      <a href="/fin/mortgage?compute=rhs-ui3" target="_self">
        <button class="button" id="lhs-button3">HELOC</button>
      </a>
    </div>
    <div class="button-back-style">
      <a href="/finances" target="_self">
        <button class="button">Back</button>
      </a>
    </div>
  </div>
  <div class="right-side">
    {{template "mortgage-layout" .}}
  </div>
</div>

{{end}}

{{define "scripts"}}
  <!-- This will automatically insert itself at the bottom of the master layout -->
  <script type="text/javascript" src="/public/js/setPageUI.js" id="element-id" data-cb="{{.Data.CurrentButton}}"></script>
{{end}}
