{{ define "oagrowingannuity-layout" }}

<!-- rhs-ui2 -->
<div id="rhs-ui2">
  <form action="/fin/ordinaryannuity/ga" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}"/>
    <div class="cnt-grid">
      <label class="cnt-textbox" for="fd2-n">Time (n)</label>
      <input type="number" class="cnt-textcombo" id="fd2-n" name="fd2-n" value="{{ .Fd2N }}"
        inputmode="numeric" step="any" maxlength="7" required/>
      <label class="cnt-textbox" for="fd2-interest">Interest (%)</label>
      <input type="number" class="cnt-textcombo" id="fd2-interest" name="fd2-interest" value="{{ .Fd2Interest }}"
        inputmode="numeric" step="0.5" maxlength="7" required/>
      <label class="cnt-textbox" for="fd2-cp">Compounding Period</label>
      <select class="cnt-select" id="fd2-cp" name="fd2-cp">
        <option value="annually" {{ if eq .Fd2Compound "annually" }} selected {{ end }}>Annually</option>
        <option value="semiannually" {{ if eq .Fd2Compound "semiannually" }} selected {{ end }}>Semiannually</option>
        <option value="quarterly" {{ if eq .Fd2Compound "quarterly" }} selected {{ end }}>Quarterly</option>
        <option value="monthly" {{ if eq .Fd2Compound "monthly" }} selected {{ end }}>Monthly</option>
        <option value="weekly" {{ if eq .Fd2Compound "weekly" }} selected {{ end }}>Weekly</option>
        <option value="daily" {{ if eq .Fd2Compound "daily" }} selected {{ end }}>Daily</option>
        <option value="continuously" {{ if eq .Fd2Compound "continuously" }} selected {{ end }}>Continuously</option>
      </select>
      <label class="cnt-textbox" for="fd2-grow">Grow (%)</label>
      <input type="number" class="cnt-textcombo" id="fd2-grow" name="fd2-grow" value="{{ .Fd2Grow }}"
        inputmode="numeric" step="0.5" maxlength="7" required/>
      <label class="cnt-textbox" for="fd2-pmt">First Payment (P)</label>
      <input type="number" class="cnt-textcombo" id="fd2-pmt" name="fd2-pmt" value="{{ .Fd2Pmt }}"
        inputmode="numeric" step="any" maxlength="7" required/>
    </div>
    <div class="button-back-style">
      <button class="button" id="btcompute" name="compute" value="rhs-ui2" type="submit">
        Compute
      </button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-result">{{ .Fd2Result }}</p>
  </div>
</div>

{{ end }}
