{{ define "miscellaneous-layout" }}

<!-- rhs-ui5 -->
<div id="rhs-ui5">
  <form action="/fin/miscellaneous" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}"/>
    <div style="margin-top: 20px">
      <label class="text-box" for="fd5-values">Values...</label>
      <input class="text-combo" id="fd5-values" name="fd5-values" value="{{ .Fd5Values }}" type="string" required/>
    </div>
    <div>
      <p class="p-note">{{ index .Fd5Result 0 }}</p>
    </div>
    <div class="div-center" style="margin-top: 45px;">
      <button class="button" id="btcompute" name="compute" value="rhs-ui5" type="submit">Compute</button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-result">{{index .Fd5Result 1}}</p>
  </div>
</div>

{{ end }}
