{{ define "miscellaneous-layout" }}

<!-- rhs-ui5 -->
<div id="rhs-ui5">
  <form action="/fin/miscellaneous" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}"/>
    <div class="text-style">
      <label class="text-box" for="fd5-interest">Interest (%)...................</label>
      <input class="text-combo" id="fd5-interest" name="fd5-interest" value="{{ .Fd5Interest }}"
       type="text" inputmode="numeric" step="any" maxlength="7" required/>
    </div>
    <div class="text-style">
      <label class="text-box" for="fd5-compound">Compounding Period...</label>
      <select class="text-combo" id="fd5-compound" name="fd5-compound">
        <option class="text-combo" value="annually"
         {{ if eq .Fd5Compound "annually" }} selected {{ end }}>Annually</option>
        <option class="text-combo" value="semiannually"
         {{ if eq .Fd5Compound "semiannually" }} selected {{ end }}>Semiannually</option>
        <option class="text-combo" value="quarterly"
         {{ if eq .Fd5Compound "quarterly" }} selected {{ end }}>Quarterly</option>
        <option class="text-combo" value="monthly"
         {{ if eq .Fd5Compound "monthly" }} selected {{ end }}>Monthly</option>
        <option class="text-combo" value="weekly"
         {{ if eq .Fd5Compound "weekly" }} selected {{ end }}>Weekly</option>
        <option class="text-combo" value="daily"
         {{ if eq .Fd5Compound "daily" }} selected {{ end }}>Daily</option>
        <option class="text-combo" value="continuously"
         {{if eq .Fd5Compound "continuously"}} selected {{ end }}>Continuously</option>
      </select>
    </div>
    <div class="text-style">
      <label class="text-box" for="fd5-factor">Factor.............................</label>
      <input class="text-combo" id="fd5-factor" name="fd5-factor" value="{{ .Fd5Factor }}"
       type="number" step="any" maxlength="7" required/>
    </div>
    <div class="button-back-style">
      <button class="button" id="btcompute" name="compute" value="rhs-ui5" type="submit">
        Compute
      </button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-result">{{ .Fd5Result }}</p>
  </div>
</div>

{{ end }}
