{{define "content"}}

<div class="split-screen">
  <div class="left-side">
    <div class="button-style">
      <a href="/fin/ordinaryannuity/pv?compute=rhs-ui1" target="_self">
        <button class="button" id="lhs-button1">n, i, FV</button>
      </a>
    </div>
    <div class="button-style">
      <a href="/fin/ordinaryannuity/pv?compute=rhs-ui2" target="_self">
        <button class="button" id="lhs-button2">n, i, PMT</button>
      </a>
    </div>
    <div class="button-back-style">
      <a href="/fin/ordinaryannuity" target="_self">
        <button class="button">Back</button>
      </a>
    </div>
  </div>
  <div class="right-side">
    {{template "oapresentvalue-layout" .}}
  </div>
</div>

{{end}}

{{define "scripts"}}
  <!-- This will automatically insert itself at the bottom of the master layout -->
  <script type="text/javascript" src="/public/js/setPageUI.js" id="page-ui-script" data-cb="{{.Data.CurrentButton}}"></script>
{{end}}
