{{define "content"}}

<div class="split-screen">
  <div class="left-side">
    <div class="button-style">
      <a href="/banking/manageaccounts?manageaccounts=rhs-ui1" target="_self">
        <button class="button" id="lhs-button1">Create Account</button>
      </a>
    </div>
    <div class="button-style">
      <a href="/banking/manageaccounts?manageaccounts=rhs-ui2" target="_self">
        <button class="button" id="lhs-button2">Delete Account</button>
      </a>
    </div>
    <div class="button-back-style">
      <a href="/banking" target="_self">
        <button class="button">Back</button>
      </a>
    </div>
  </div>
  <div class="right-side">
    {{template "manage_accounts-layout" .}}
  </div>
</div>

{{end}}

{{define "scripts"}}
  <!-- This will automatically insert itself at the bottom of the master layout -->
  <script type="text/javascript" src="/public/js/setPageUI.js" id="element-id" data-cb="{{.Data.CurrentButton}}"></script>
  <script type="text/javascript" src="/public/js/tableStylesheet.js"></script>
{{end}}
