{{ define "bonds-layout" }}

<!-- rhs-ui5 -->
<div id="rhs-ui5">
  <form action="/fin/bonds" method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}"/>
    <div class="text-style">
      <label class="text-box" for="fd5-facevalue">Face Value.....................</label>
      <input class="text-combo" id="fd5-facevalue" name="fd5-facevalue" value="{{ .Fd5FaceValue }}"
       type="text" inputmode="numeric" step="any" maxlength="7" required/>
    </div>
    <div class="text-style">
      <label class="text-box" for="fd5-time">Time...............................</label>
      <input class="text-combo" id="fd5-time" name="fd5-time" value="{{ .Fd5Time }}" type="number"
       step="any" maxlength="7" required/>
    </div>
    <div class="text-style">
      <label class="text-box" for="fd5-tp">Time Period...................</label>
      <select class="text-combo" name="fd5-tp" id="fd5-tp">
        <option class="text-combo" value="year"
         {{ if eq .Fd5TimePeriod "year" }} selected {{ end }}>Year(s)</option>
        <option class="text-combo" value="semiyear"
         {{ if eq .Fd5TimePeriod "semiyear" }} selected {{ end }}>Semiyear(s)</option>
        <option class="text-combo" value="quarter"
         {{ if eq .Fd5TimePeriod "quarter" }} selected {{ end }}>Quarter(s)</option>
        <option class="text-combo" value="month"
         {{ if eq .Fd5TimePeriod "month" }} selected {{ end }}>Month(s)</option>
        <option class="text-combo" value="week"
         {{ if eq .Fd5TimePeriod "week" }} selected {{ end }}>Week(s)</option>
      </select>
    </div>
    <div class="text-style">
      <label class="text-box" for="fd5-coupon">Coupon Rate (%)..........</label>
      <input class="text-combo" id="fd5-coupon" name="fd5-coupon" value="{{ .Fd5Coupon }}"
       type="number" step="any" maxlength="7" required/>
    </div>
    <div class="text-style">
      <label class="text-box" for="fd5-compound-coupon">Compounding Period...</label>
      <select class="text-combo" id="fd5-compound-coupon" name="fd5-compound-coupon">
        <option class="text-combo" value="annually"
         {{ if eq .Fd5CompoundCoupon "annually" }} selected {{ end }}>Annually</option>
        <option class="text-combo" value="semiannually"
         {{ if eq .Fd5CompoundCoupon "semiannually" }} selected {{ end }}>Semiannually</option>
        <option class="text-combo" value="quarterly"
         {{ if eq .Fd5CompoundCoupon "quarterly" }} selected {{ end }}>Quarterly</option>
        <option class="text-combo" value="monthly"
         {{ if eq .Fd5CompoundCoupon "monthly" }} selected {{ end }}>Monthly</option>
        <option class="text-combo" value="weekly"
         {{ if eq .Fd5CompoundCoupon "weekly" }} selected {{ end }}>Weekly</option>
        <!-- <option class="text-combo" value="continuously"
         {{ if eq .Fd5CompoundCoupon "continuously" }} selected {{ end }}>Continuously</option> -->
      </select>
    </div>
    <div class="text-style">
      <label class="text-box" for="fd5-current">Current Interest (%)....</label>
      <input class="text-combo" id="fd5-current" name="fd5-current" value="{{ .Fd5CurInterest }}"
       type="number" step="any" maxlength="7" required/>
    </div>
    <div class="text-style">
      <label class="text-box" for="fd5-compound">Compounding Period...</label>
      <select class="text-combo" id="fd5-compound" name="fd5-compound">
        <option class="text-combo" value="annually"
         {{ if eq .Fd5Compound "annually" }} selected {{ end }}>Annually</option>
        <option class="text-combo" value="semiannually"
         {{ if eq .Fd5Compound "semiannually" }} selected {{ end }}>Semiannually</option>
        <option class="text-combo" value="quarterly"
         {{ if eq .Fd5Compound "quarterly" }} selected {{ end }}>Quarterly</option>
        <option class="text-combo" value="monthly"
         {{ if eq .Fd5Compound "monthly" }} selected {{ end }}>Monthly</option>
        <option class="text-combo" value="weekly"
         {{ if eq .Fd5Compound "weekly" }} selected {{ end }}>Weekly</option>
        <option class="text-combo" value="continuously"
         {{ if eq .Fd5Compound "continuously" }} selected {{ end }}>Continuously</option>
      </select>
    </div>
    <div class="button-back-style">
      <button class="button" id="btcompute" name="compute" value="rhs-ui5" type="submit">
        Compute
      </button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-result">{{ index .Fd5Result 0 }}</p>
    <p class="p-note">{{ index .Fd5Result 1 }}</p>
    <p class="p-result">{{ index .Fd5Result 2 }}</p>
    <p class="p-note">{{ index .Fd5Result 3 }}</p>
    <p class="p-result">{{ index .Fd5Result 4 }}</p>
    <p class="p-note">{{ index .Fd5Result 5 }}</p>
    <p class="p-result">{{ index .Fd5Result 6 }}</p>
  </div>
</div>

{{ end }}
