{{ define "bonds-layout" }}

<!-- rhs-ui7 -->
<div id="rhs-ui7">
  <form action="/fin/bonds" method="POST" enctype="application/x-www-form-urlencoded">
    <div style="margin-top: 20px">
      <label class="text-box" for="fd7-facevalue">Face Value.................................</label>
      <input class="text-combo" id="fd7-facevalue" name="fd7-facevalue" value="{{ .Fd7FaceValue }}" type="number" step="any" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px">
      <label class="text-box" for="fd7-time">Time...........................................</label>
      <input class="text-combo" id="fd7-time" name="fd7-time" value="{{ .Fd7Time }}" type="number" step="any" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px">
      <label class="text-box" for="fd7-tp">Time Period...............................</label>
      <select class="text-combo" name="fd7-tp" id="fd7-tp">
        <option class="text-combo" value="year" {{ if eq .Fd7TimePeriod "year" }} selected {{ end }}>Year(s)</option>
        <option class="text-combo" value="semiyear" {{ if eq .Fd7TimePeriod "semiyear" }} selected {{ end }}>Semiyear(s)</option>
        <option class="text-combo" value="quarter" {{ if eq .Fd7TimePeriod "quarter" }} selected {{ end }}>Quarter(s)</option>
        <option class="text-combo" value="month" {{ if eq .Fd7TimePeriod "month" }} selected {{ end }}>Month(s)</option>
        <option class="text-combo" value="week" {{ if eq .Fd7TimePeriod "week" }} selected {{ end }}>Week(s)</option>
        <option class="text-combo" value="day" {{ if eq .Fd7TimePeriod "day" }} selected {{ end }}>Day(s)</option>
      </select>
    </div>
    <div style="margin-top: 20px">
      <label class="text-box" for="fd7-coupon">Coupon Rate (%)......................</label>
      <input class="text-combo" id="fd7-coupon" name="fd7-coupon" value="{{ .Fd7Coupon }}" type="number" step="any" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px">
      <label class="text-box" for="fd7-current">Current Interest (%)................</label>
      <input class="text-combo" id="fd7-current" name="fd7-current" value="{{ .Fd7CurInterest }}" type="number" step="any" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px;">
      <label class="text-box">Compounding Period or</label><br>
      <label class="text-box" for="fd7-compound">Coupon Payment Frequency...</label>
      <select class="text-combo" id="fd7-compound" name="fd7-compound">
        <option class="text-combo" value="annually" {{ if eq .Fd7Compound "annually" }} selected {{ end }}>Annually</option>
        <option class="text-combo" value="semiannually" {{ if eq .Fd7Compound "semiannually" }} selected {{ end }}>Semiannually</option>
        <option class="text-combo" value="quarterly" {{ if eq .Fd7Compound "quarterly" }} selected {{ end }}>Quarterly</option>
        <option class="text-combo" value="monthly" {{ if eq .Fd7Compound "monthly" }} selected {{ end }}>Monthly</option>
        <option class="text-combo" value="weekly" {{ if eq .Fd7Compound "weekly" }} selected {{ end }}>Weekly</option>
        <option class="text-combo" value="continuously" {{ if eq .Fd7Compound "continuously" }} selected {{ end }}>Continuously</option>
      </select>
    </div>
    <div class="div-center" style="margin-top: 45px;">
      <button class="button" id="btcompute" name="compute" value="rhs-ui7" type="submit">Compute</button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-result">{{ .Fd7Result }}</p>
  </div>
</div>

{{ end }}
