{{ define "bonds-layout" }}

<!-- rhs-ui3 -->
<div id="rhs-ui3">
  <form action="/fin/bonds" method="POST" enctype="application/x-www-form-urlencoded">
    <!-- margin: top, right, bottom, left -->
    <div style="margin-top: 20px">
      <label class="text-box" for="fd3-facevalue">Face Value.....................</label>
      <input class="text-combo" id="fd3-facevalue" name="fd3-facevalue" value="{{ .Fd3FaceValue }}" type="number" step="any" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px">
      <label class="text-box" for="fd3-timecall">Time to Call..................</label>
      <input class="text-combo" id="fd3-timecall" name="fd3-timecall" value="{{ .Fd3TimeCall }}" type="number" step="any" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px">
      <label class="text-box" for="fd3-tp">Time Period..................</label>
      <select class="text-combo" name="fd3-tp" id="fd3-tp">
        <option class="text-combo" value="year" {{ if eq .Fd3TimePeriod "year" }} selected {{ end }}>Year(s)</option>
        <option class="text-combo" value="semiyear" {{ if eq .Fd3TimePeriod "semiyear" }} selected {{ end }}>Semiyear(s)</option>
        <option class="text-combo" value="quarter" {{ if eq .Fd3TimePeriod "quarter" }} selected {{ end }}>Quarter(s)</option>
        <option class="text-combo" value="month" {{ if eq .Fd3TimePeriod "month" }} selected {{ end }}>Month(s)</option>
        <option class="text-combo" value="week" {{ if eq .Fd3TimePeriod "week" }} selected {{ end }}>Week(s)</option>
        <option class="text-combo" value="day" {{ if eq .Fd3TimePeriod "day" }} selected {{ end }}>Day(s)</option>
      </select>
    </div>
    <div style="margin-top: 20px">
      <label class="text-box" for="fd3-coupon">Coupon Rate (%).........</label>
      <input class="text-combo" id="fd3-coupon" name="fd3-coupon" value="{{ .Fd3Coupon }}" type="number" step="any" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px;">
      <label class="text-box" for="fd3-compound">Compounding Period...</label>
      <select class="text-combo" id="fd3-compound" name="fd3-compound">
        <option class="text-combo" value="annually" {{ if eq .Fd3Compound "annually" }} selected {{ end }}>Annually</option>
        <option class="text-combo" value="semiannually" {{ if eq .Fd3Compound "semiannually" }} selected {{ end }}>Semiannually</option>
        <option class="text-combo" value="quarterly" {{ if eq .Fd3Compound "quarterly" }} selected {{ end }}>Quarterly</option>
        <option class="text-combo" value="monthly" {{ if eq .Fd3Compound "monthly" }} selected {{ end }}>Monthly</option>
        <option class="text-combo" value="weekly" {{ if eq .Fd3Compound "weekly" }} selected {{ end }}>Weekly</option>
        <option class="text-combo" value="daily" {{ if eq .Fd3Compound "daily" }} selected {{ end }}>Daily</option>
        <option class="text-combo" value="continuously" {{ if eq .Fd3Compound "continuously" }} selected {{ end }}>Continuously</option>
      </select>
    </div>
    <div style="margin-top: 20px">
      <label class="text-box" for="fd3-bondprice">Bond Price.....................</label>
      <input class="text-combo" id="fd3-bondprice" name="fd3-bondprice" value="{{ .Fd3BondPrice }}" type="number" step="any" maxlength="7" required/>
    </div>
    <div style="margin-top: 20px">
      <label class="text-box" for="fd3-callprice">Call Price.......................</label>
      <input class="text-combo" id="fd3-callprice" name="fd3-callprice" value="{{ .Fd3CallPrice }}" type="number" step="any" maxlength="7" required/>
    </div>
    <div class="div-center" style="margin-top: 45px;">
      <button class="button" id="btcompute" name="compute" value="rhs-ui3" type="submit">Compute</button>
    </div>
  </form>
  <div>
    <hr size="4" width="50%" color="darkgreen"/>
    <p class="p-result">{{ .Fd3Result }}</p>
  </div>
</div>

{{ end }}
