{{ define "adcompoundingperiods" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OA Compounding Periods</title>
    <script type="text/javascript" src="/public/js/getParams.js"></script>
    <script type="text/javascript" src="/public/js/AdCompoundingPeriods.js?cb='{{ .CurrentButton }}'"></script>
    <link href="/public/css/home.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div>
      {{ template "header" . }}
    </div>
    <div class="split-screen">
      <div class="left-side">
        <div class="button-style">
          <a href="/fin/annuitydue/cp?compute=rhs-ui1" target="_self">
            <button class="button" id="lhs-button1">
              i, PV, FV
            </button>
          </a>
        </div>
        <div class="button-style">
          <a href="/fin/annuitydue/cp?compute=rhs-ui2" target="_self">
            <button class="button" id="lhs-button2">
              i, PMT, PV
            </button>
          </a>
        </div>
        <div class="button-style">
          <a href="/fin/annuitydue/cp?compute=rhs-ui3" target="_self">
            <button class="button" id="lhs-button3">
              i, PMT, FV
            </button>
          </a>
        </div>
        <div class="button-back-style">
          <a href="/fin/annuitydue" target="_self">
            <button class="button">Back</button>
          </a>
        </div>
      </div>
      <!---->
      <div class="right-side">
        {{ template "adcompoundingperiods-layout" . }}
      </div>
    </div>
    {{ template "footer" }}
  </body>
</html>

{{ end }}
