{{define "content"}}
<div class="split-screen">
  <div class="left-side">
    <div class="button-style">
      <a href="/fin/ordinaryannuity/interestrate?compute=rhs-ui1" target="_self">
        <button class="button" id="lhs-button1">n, PV, FV</button>
      </a>
    </div>
    <div class="button-back-style">
      <a href="/fin/ordinaryannuity" target="_self">
        <button class="button">Back</button>
      </a>
    </div>
  </div>
  <div class="right-side">
    {{template "oainterestrate-layout" .}}
  </div>
</div>
<script type="text/javascript" src="/public/js/setPageUI.js" id="element-id" data-cb="{{.Data.CurrentButton}}"></script>
<script type="text/javascript" src="/public/js/tabSplitPage.js"></script>
{{end}}
